<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <!--Card Filtro-->
    <div class="card mb-2">
      <div class="card-header">
        <i class=" {{constantes.ICON_FILTRAR}}"></i>
        <b>{{constantes.TITULO_FILTROS}}</b>
      </div>
      <div class="card-body pb-0 pt-1">
        <form #frmPerfilFacturacion="ngForm" autocomplete="off">
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select [(ngModel)]="empresaSeleccionada" class="form-control input-sm" name="empresaSeleccionada" [disabled]="deshabilitarOpciones"
              (change)="cambiarempresaSeleccionada();" required>
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas">{{empresa.empNombre}} ({{empresa.empCodigo}})</option>
            </select>
          </div>
        </form>
      </div>
      <div class="card-footer" *ngIf="!deshabilitarOpciones">
        <div class="text-right">
          <button id="btnBuscar" type="button" class="btn btn-sm btn-primary mr-1" (click)="buscarPerfilFacturacion()" title="{{constantes.ATAJO_BUSCAR}}"
            [disabled]="!frmPerfilFacturacion.form.valid">
            <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i> {{constantes.LABEL_BUSCAR}}</button>
          <button id="btnNuevo" class="btn btn-sm btn-primary" type="button" (click)="nuevoPerfilFacturacion()" [disabled]="!frmPerfilFacturacion.form.valid || !empresaSeleccionada.listaSisPermisoTO.gruCrear"
            title="{{constantes.ATAJO_NUEVO}}">
            <i class="{{constantes.ICON_NUEVO}}" aria-hidden="true"></i> {{constantes.LABEL_NUEVO}}</button>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}">
    <app-perfil-facturacion-listado [hidden]="!vistaListado" [parametrosBusqueda]="busquedaListado" [empresaSeleccionada]="empresaSeleccionada"
      [operacion]="operacionListado" (enviarCancelar)="cancelar()" (enviarActivar)="cambiarActivar($event)"></app-perfil-facturacion-listado>
    <app-perfil-facturacion-formulario *ngIf="dataFormularioPerfil" [data]="dataFormularioPerfil" [empresaSeleccionada]="empresaSeleccionada"
      (enviarCancelar)="cancelarFormulario()" (enviarActivar)="cambiarActivar($event)" (enviarLista)="accionLista($event)"></app-perfil-facturacion-formulario>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>