<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <form #frmOrdenBancaria='ngForm' name="frmOrdenBancaria" class="card m-0 mb-2">
      <fieldset [disabled]="vistaFormulario">
        <div class="card-header">
          <span>
            <i class="{{constantes.ICON_FILTRAR}}"></i>
            <b> {{constantes.TITULO_FILTROS}}</b>
          </span>
        </div>
        <div class="card-body pb-0 pt-1">
          <!--Empresa-->
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select [appFocus]="true" class="form-control form-control-sm mousetrap" name="empresa" required
              [(ngModel)]="empresaSeleccionada" (ngModelChange)="cambiarEmpresaSeleccionada()" [disabled]="vistaFormulario">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas">{{empresa.empNombre}}
                ({{empresa.empCodigo}})
              </option>
            </select>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label">
              <strong>{{constantes.TAG_TIPO_ORDEN}}</strong>
            </label>
            <select [(ngModel)]="ordenBancariaTO.orden" name="orden" class="form-control input-sm text-uppercase"
              required [disabled]="vistaFormulario" (ngModelChange)="limpiarResultado()">
              <option disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option *ngFor="let orden of listaTipoOrden" [ngValue]="orden.clave">{{orden?.valor}}</option>
            </select>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label">
              <strong>{{constantes.TAG_CUENTA}}</strong>
            </label>
            <select [(ngModel)]="cuentaComboSeleccionado" name="cuentaComboSeleccionado" class="form-control input-sm"
              required [disabled]="vistaFormulario" (ngModelChange)="limpiarResultado()">
              <option selected disabled value=null>{{constantes.TAG_SELECCIONE}}</option>
              <option *ngFor="let cuenta of listadoBancoCuenta" [ngValue]="cuenta">{{cuenta.banNombre}}
                ({{cuenta.ctaNumero}})</option>
            </select>
          </div>
          <div class="form-group form-group-sm" *ngIf="cuentaComboSeleccionado ? cuentaComboSeleccionado.banNombre===constantes.TAG_BANCO_BOLIVARIANO : false">
            <label class="control-label">
              <strong>{{constantes.TAG_TIPO_SERVICIO}}</strong>
            </label>
            <select [(ngModel)]="ordenBancariaTO.tipoServicio" name="servicio" class="form-control input-sm text-uppercase"
              required [disabled]="vistaFormulario" (ngModelChange)="limpiarResultado()">
              <option ngValue="" disabled selected>{{constantes.TAG_SELECCIONE}}</option>
              <option *ngFor="let servicio of listaTipoServicio" [ngValue]="servicio.clave">{{servicio?.valor}}</option>
            </select>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label">
              <strong>{{constantes.TAG_FECHA}}</strong>
            </label>
            <p-calendar inputId="fechaHasta" class="mousetrap" name="fechaHasta" [(ngModel)]="ordenBancariaTO.fecha"
              (ngModelChange)="limpiarResultado()" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true" [required]="true"></p-calendar>
          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary" id="btnBuscar" (click)="!vistaFormulario ? generarOrdenBancaria(frmOrdenBancaria) : null"
                title="{{constantes.ATAJO_BUSCAR}}">
                <i class="{{constantes.ICON_GENERAR}}" aria-hidden="true"></i> {{constantes.LABEL_GENERAR}}</button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}" *ngIf="mostrarListado">
    <app-ordenes-bancarias-listado [parametrosBusqueda]="parametrosListado" [empresaSeleccionada]="empresaSeleccionada"
      (enviarActivar)="activar=$event" (enviarAccion)="ejecutarAccion($event)"></app-ordenes-bancarias-listado>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>