<!--SECCION FORMULARIO NUEVO-->
<form #frmVentaMotivoDatos='ngForm' autocomplete="off" class="card m-0">
  <fieldset>
    <div class="card-header p-1">
      <button id="btnActivar" class="btn btn-sm btn-primary" *ngIf="isScreamMd" (click)="cambiarActivar(activar)" type="button"
        title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
        <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
      </button>
      <b class="pl-2"> {{tituloForm}} </b>
      <!--SECCION BOTONES GUARDAR - MODIFICAR - CANCELAR -->
      <div class="card-header-actions">
        <!--BOTON GUARDAR NUEVO -->
        <button type="button" class="btn btn-sm btn-primary mr-1" id="btnGuardar" (click)="insertarInvVentaMotivoTO(frmVentaMotivoDatos)"
          *ngIf="accion === constantes.ACCION_CREAR" title="{{constantes.ATAJO_GUARDAR}}">
          <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i> {{constantes.LABEL_GUARDAR}}</button>
        <!--BOTON GUARDAR MODIFICADO -->
        <button type="button" class="btn btn-sm btn-primary mr-1" id="btnGuardar" (click)="actualizarInvVentaMotivoTO(frmVentaMotivoDatos)"
          *ngIf="accion === constantes.ACCION_EDITAR">
          <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i> {{constantes.LABEL_GUARDAR}}</button>
        <!--BOTON REGRESAR -->
        <button type="button" class="btn btn-sm btn-default mr-1" id="btnCancelar" (click)="cancelar()" title="{{constantes.ATAJO_CANCELAR}}"
          *ngIf="accion === constantes.ACCION_CONSULTAR">
          <i class="{{constantes.ICON_REGRESAR}}" aria-hidden="true"></i>
          <span class="d-none d-md-inline"> {{constantes.LABEL_REGRESAR}}</span>
        </button>
        <!--BOTON CANCELAR -->
        <button class="btn btn-sm btn-default mr-1" type="button" id="btnCancelar" (click)="cancelar()" title="{{constantes.ATAJO_CANCELAR}}"
          *ngIf="!(accion === constantes.ACCION_CONSULTAR)">
          <i class="{{constantes.ICON_CANCELAR}}" aria-hidden="true"></i> {{constantes.LABEL_CANCELAR}}</button>
      </div>
    </div>
    <!--Formulario Motivo Venta-->
    <div class="card-body p-1">
      <div class="card mb-1">
        <div class="card-header">
          <b> {{constantes.TAG_DATOS_GENERALES}}</b>
          <div class="card-header-actions">
            <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseMotivoCompraInfo"
              aria-expanded="true" placement="top" ngbTooltip="{{constantes.TAG_MOSTRAR_OCULTAR}}">
              <i class="fa fa-minus"></i>
            </a>
          </div>
        </div>
        <div class="card-body collapse show mt-0 mb-0 pt-1 pb-0" id="collapseMotivoCompraInfo">
          <div class="row">
            <!--CODIGO -->
            <div class="form-group form-group-sm col-lg-4 col-sm-4">
              <label class="control-label">
                <b>{{constantes.TAG_CODIGO}}</b>
              </label>
              <input [appFocus]="accion === constantes.ACCION_CREAR" name="codigo" #codigo="ngModel" [(ngModel)]="invVentaMotivoTO.vmCodigo"
                pattern="{{constantes.PATTERN_CODIGO}}" [disabled]="accion !== constantes.ACCION_CREAR" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                class="form-control form-control-sm mousetrap text-uppercase" appUppercase required maxlength="20">
              <span *ngIf="accion === constantes.ACCION_CREAR" class="fa fa-question-circle form-control-feedback"
                placement="right" ngbPopover="{{constantes.MSJ_INFOCODIGO}}" container="body"></span>
            </div>
            <!--DETALLE-->
            <div class="form-group form-group-sm col-lg-4 col-sm-4">
              <label class="control-label">
                <b>{{constantes.TAG_DETALLE}}</b>
              </label>
              <input [appFocus]="accion === constantes.ACCION_EDITAR" class="form-control form-control-sm mousetrap text-uppercase"
                appUppercase name="detalle" maxlength="150" type="text" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                [(ngModel)]="invVentaMotivoTO.vmDetalle" id="detalle" required [disabled]="accion === constantes.ACCION_CONSULTAR">
            </div>
            <!--TIPO COMPROBANTE-->
            <div class="form-group form-group-sm col-lg-4 col-sm-4">
              <label class="control-label">
                <b>{{constantes.TAG_TIPO_COMPROBANTES}}</b>
                &nbsp;
                <a (click)="listarTipos()" *ngIf="accion !== constantes.ACCION_CONSULTAR">
                  <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_TIPOS_COMPROBANTES}}"
                    container="body"></span>
                </a>
              </label>
              <label class="form-control form-control-sm label-input" *ngIf="accion === constantes.ACCION_CONSULTAR">
                {{tipoSeleccionado.tipDetalle}} ({{tipoSeleccionado.tipCodigo}})</label>
              <select class="form-control form-control-sm mousetrap" name="ts" required [(ngModel)]="tipoSeleccionado"
                *ngIf="accion === constantes.ACCION_CREAR || accion === constantes.ACCION_EDITAR">
                <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
                <option [ngValue]="ts" *ngFor="let ts of listaTipos">{{ts.tipDetalle}} ({{ts.tipCodigo}})</option>
              </select>
            </div>
            <!--FORMA CONTABILIZAR-->
            <div class="form-group form-group-sm col-lg-4 col-sm-4">
              <label class="control-label">
                <b>{{constantes.TAG_FORMA_CONTABILIZAR}}</b>
              </label>
              <label class="form-control form-control-sm label-input" *ngIf="accion === constantes.ACCION_CONSULTAR">
                {{formaContabilizarSeleccionado}} </label>
              <select class="form-control form-control-sm mousetrap" name="fc" required [(ngModel)]="formaContabilizarSeleccionado"
                *ngIf="accion === constantes.ACCION_CREAR || accion === constantes.ACCION_EDITAR">
                <option [ngValue]="fc" *ngFor="let fc of listaFormaContabilizar">{{fc}}</option>
              </select>
            </div>
            <!--FORMA IMPRIMIR-->
            <div class="form-group form-group-sm col-lg-4 col-sm-4">
              <label class="control-label">
                <b>{{constantes.TAG_FORMA_IMPRIMIR}}</b>
              </label>
              <label class="form-control form-control-sm label-input" *ngIf="accion === constantes.ACCION_CONSULTAR">
                {{formaImprimirSeleccionado}} </label>
              <select class="form-control form-control-sm mousetrap" name="fi" required [(ngModel)]="formaImprimirSeleccionado"
                *ngIf="accion === constantes.ACCION_CREAR || accion === constantes.ACCION_EDITAR">
                <option [ngValue]="fi" *ngFor="let fi of listaFormaImprimir">{{fi}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>