<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <div class="card m-0 mb-2">
      <div class="card-header">
        <i class="{{classIcon}}"></i><b> {{constantes.TITULO_FILTROS}}</b>
      </div>
      <!--FILTRO EMPRESA-->
      <div class="card-body pb-0 pt-1">
        <form #frmRetencionesRentaComprasTipD='ngForm' name="frmRetencionesRentaComprasTipD">
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select class="form-control form-control-sm mousetrap" name="empresa" required [(ngModel)]="empresaSeleccionada"
              (ngModelChange)="cambiarEmpresaSeleccionada()" [disabled]="objetoContableEnviar">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas"> {{empresa.empNombre}}
                ({{empresa.empCodigo}})</option>
            </select>
          </div>
          <!--SECCION FECHAS-->
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_FECHA_DESDE}}</b>
            </label>
            <p-calendar inputId="iniFecha" name="iniFecha" [(ngModel)]="fechaInicio" (ngModelChange)="validarFechas('I')"
              dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true" [maxDate]="fechaFin" [appMaxDate]="fechaFin"
              [required]="true" [ngClass]="{'has-error':!fechasValidos.fechaInicioValido}" (ngModelChange)="limpiarResultado()" [disabled]="objetoContableEnviar"></p-calendar>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_FECHA_HASTA}}</b>
            </label>
            <p-calendar inputId="finFecha" name="finFecha" [(ngModel)]="fechaFin" (ngModelChange)="validarFechas('F')"
              dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true" [minDate]="fechaInicio" [appMinDate]="fechaInicio"
              [required]="true" [ngClass]="{'has-error':!fechasValidos.fechaFinValido}" (ngModelChange)="limpiarResultado()"
              [maxDate]="fechaActual" [appMaxDate]="fechaActual" [disabled]="objetoContableEnviar"></p-calendar>
          </div>
        </form>
      </div>
      <!--BOTÓN BUSCAR-->
      <div class="card-footer text-muted" *ngIf="!accion">
        <div class="text-right">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary" id="btnBuscar" (click)="listaDeRetencionesRentaProveedor(frmRetencionesRentaComprasTipD)"
              *ngIf="!objetoContableEnviar">
              <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i> {{constantes.LABEL_BUSCAR}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--LISTADO TALON RESUMEN VENTAS-->
  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}" [hidden]="objetoContableEnviar">
    <div class="card m-0" *ngIf="listaResultado?.length>0">
      <div class="card-header p-1">
        <button id="btnRetencionesIvaCompras" class="btn btn-sm btn-primary mr-1" *ngIf="!screamXS" (click)="activar=!activar"
          type="button" title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
          <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
        </button>
        <strong>{{constantes.TRIBUTACION_RETENCIONES_IVA_COMPRAS}}</strong>
        <div class="card-header-actions">
          <div class="btn-group d-lg-none">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirListadoDevolucionIVAVentas"
              (click)="imprimirRetencionesRentaComprasTipoProveedor()" placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}"
              container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarListadoDevolucionIVAVentas"
              (click)="exportarRetencionesRentaComprasTipoProveedor()" placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}"
              container="body" title="{{constantes.ATAJO_EXPORTAR}}">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group d-none d-lg-block">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirListadoDevolucionIVAVentas"
              (click)="imprimirRetencionesRentaComprasTipoProveedor()" placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}"
              container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i> {{constantes.LABEL_IMPRIMIR}}
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarListadoDevolucionIVAVentas"
              (click)="exportarRetencionesRentaComprasTipoProveedor()" placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}"
              container="body" title="{{constantes.ATAJO_EXPORTAR}}">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i> {{constantes.LABEL_EXPORTAR}}
            </button>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="row">
          <div class="col-sm-5 col-md-6">
            <div class="input-group p-1">
              <input type="text" [(ngModel)]="filtroGlobal" (input)="filtrarRapido()" class="form-control form-control-sm input-filter mousetrap"
                size="100" style="font-family: Arial, FontAwesome;" placeholder="&#xf0b0; {{constantes.TAG_FILTRAR}}..."
                size="100">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="{{constantes.ICON_BUSCAR}}"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-6">
            <div class="float-right pr-1">
              <p-multiSelect [options]="columnDefs" [(ngModel)]="columnDefsSelected" optionLabel="headerName"
                maxSelectedLabels="1" selectedItemsLabel="{0} {{constantes.MSJ_COLUMNAS}}" defaultLabel="{{constantes.TAG_SELECCIONE}}"></p-multiSelect>
            </div>
          </div>
        </div>
        <ag-grid-angular #agGrid id="agGrid" style="width: 100%; height: calc(100vh - 203px);" class="ag-theme-balham"
          [rowData]="listaResultado" [columnDefs]="columnDefsSelected" [enableSorting]="true" [multiSortKey]="multiSortKey"
          [rowSelection]="rowSelection" [enableColResize]="true" [components]="components" [context]="context"
          (gridReady)="onGridReady($event)" (rowSelected)="objetoSeleccionado = $event.node.data" (filterChanged)="actualizarFilas()"
          (gridColumnsChanged)="redimencionarColumnas()" (gridSizeChanged)="redimencionarColumnas()"
          [frameworkComponents]="frameworkComponents" (cellContextMenu)="mostrarContextMenu($event.data, $event.event)"
          (contextmenu)="$event.preventDefault()">
        </ag-grid-angular>
        <p-contextMenu #menuOpciones [model]="opciones" appendTo="body"></p-contextMenu>
      </div>
    </div>
  </div>
  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}" *ngIf="objetoContableEnviar">
    <app-contable-formulario [data]="objetoContableEnviar" (cargandoEstado)="cambiarEstadoCargando($event)"
      (cerrarContabilidadAcciones)="cerrarContabilidadAcciones($event)" (activarEstado)="cambiarEstadoActivar($event)"></app-contable-formulario>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>