<div class="card mb-0" *ngIf="listadoClientes?.length>0" [ngClass]="{'modal-primary': isModal}">
  <div class="modal-header p-2" *ngIf="isModal">
    <h4 class="modal-title">{{constantes.INVENTARIO_CLIENTE_LISTADO}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-header p-1" *ngIf="!isModal">
    <button class="btn btn-sm btn-primary" id="btnActivarListado" *ngIf="isScreamMd" (click)="cambiarActivar(activar)"
      type="button" title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
      <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
    </button>
    <b> {{constantes.INVENTARIO_CLIENTE_LISTADO}}</b>
    <div class="card-header-actions">
      <div class="btn-group d-lg-none">
        <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirCliente" (click)="imprimir()"
          placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
          <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i>
        </button>
        <!--Exportar filtrado-->
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary" id="btnExportarCliente" (click)="exportarTodos()"
            placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}">
            <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split mr-1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="abrirExportar()">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">
              <b>{{constantes.TAG_OPCIONES}}</b> &nbsp; &nbsp; <input type="checkbox" [(ngModel)]="exportarTodosEstado"
                (change)="cambiarEstadoExportar()" />
            </a>
            <a class="dropdown-item" *ngFor="let item of columnDefsExportar"><input type="checkbox" [(ngModel)]="item.check"
                (change)="cambiarEstadoItemExportar()" />&nbsp;{{item.headerName}}</a>
            <a class="dropdown-item text-right">
              <button type="button" class="btn btn-sm btn-primary" id="btnExportarCliente" (click)="exportar()">
                <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="btn-group d-none d-lg-block">
        <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirBodega" (click)="imprimir()" placement="top"
          ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
          <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i> {{constantes.LABEL_IMPRIMIR}}
        </button>

        <!--Exportar filtrado-->
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary" id="btnExportarCliente" (click)="exportarTodos()"
            placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}">
            <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i> {{constantes.LABEL_EXPORTAR}}
          </button>
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split mr-1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="abrirExportar()">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"> <input type="checkbox" [(ngModel)]="exportarTodosEstado" (change)="cambiarEstadoExportar()" />&nbsp;
              <b>{{constantes.TAG_OPCIONES}}</b> </a>
            <a class="dropdown-item" *ngFor="let item of columnDefsExportar"><input type="checkbox" [(ngModel)]="item.check"
                (change)="cambiarEstadoItemExportar()" />&nbsp;{{item.headerName}}</a>
            <a class="dropdown-item text-right">
              <button type="button" class="btn btn-sm btn-primary" id="btnExportarCliente" (click)="exportar()">
                <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i> {{constantes.LABEL_EXPORTAR}}
              </button>
            </a>
          </div>
        </div>
        <!--Fin de exportar filtrado-->

      </div>
    </div>
  </div>

  <div class="card-body" style="padding: 0 0 0 0">
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <div class="input-group p-1">
          <input type="text" [(ngModel)]="filtroGlobal" (input)="filtrarRapido()" class="form-control form-control-sm input-filter mousetrap"
            size="100" style="font-family: Arial, FontAwesome;" placeholder="&#xf0b0; {{constantes.TAG_FILTRAR}}..."
            size="100">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="{{constantes.ICON_BUSCAR}}"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-md-6">
        <div class="float-right pr-1">
          <p-multiSelect [options]="columnDefs" [(ngModel)]="columnDefsSelected" optionLabel="headerName"
            maxSelectedLabels="1" selectedItemsLabel="{0} {{constantes.MSJ_COLUMNAS}}" defaultLabel="{{constantes.TAG_SELECCIONE}}"></p-multiSelect>
        </div>
      </div>
    </div>
    <!--listado de cliente listado-->
    <ag-grid-angular #agGrid id="agGrid" style="width: 100%; height: calc(100vh - 206px);" class="ag-theme-balham"
      [rowData]="listadoClientes" [columnDefs]="columnDefsSelected" [enableSorting]="true" [multiSortKey]="multiSortKey"
      [rowSelection]="rowSelection" [enableColResize]="true" [components]="components" [context]="context"
      [frameworkComponents]="frameworkComponents" (gridSizeChanged)="redimencionarColumnas()" (gridReady)="onGridReady($event)"
      (rowSelected)="objetoSeleccionado = $event.node.data" (cellContextMenu)="!this.isModal?mostrarContextMenu($event.data, $event.event):null"
      (contextmenu)="!this.isModal?$event.preventDefault():null" (filterChanged)="actualizarFilas()"
      (gridColumnsChanged)="redimencionarColumnas()" (cellFocused)="filaFocused($event)" (cellDoubleClicked)="this.isModal?filaSeleccionar():consultarClientes();">
    </ag-grid-angular>
    <!--end listado cliente listado-->
  </div>
  <p-contextMenu #menuOpciones [model]="opciones" appendTo="body"></p-contextMenu>
</div>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>