<div class="row">
  <!--Filtro-->
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5" *ngIf="!isModal">
    <div class="card m-0 mb-2">
      <div class="card-header">
        <i class="{{constantes.ICON_FILTRAR}}"></i><b>{{constantes.TITULO_FILTROS}}</b>
      </div>
      <div class="card-body pb-0 pt-1">
        <!--FORMULARIO EMPRESA-->
        <form #frmEmpresa='ngForm' name="frmEmpresa">
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select class="form-control form-control-sm mousetrap" name="empresa" required [(ngModel)]="empresaSeleccionada"
              (ngModelChange)="cambiarEmpresaSeleccionada()" [disabled]="accion">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas"> {{empresa.empNombre}}
                ({{empresa.empCodigo}})</option>
            </select>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="text-right">
          <div class="btn-group mr-1">
            <button type="button" id="btnBuscar" class="btn btn-sm btn-primary" title="{{constantes.ATAJO_BUSCAR}}"
              [disabled]="accion" (click)="listarMotivPrestamo(false)">
              <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_BUSCAR}}</span>
            </button>
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              [disabled]="accion">
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="listarMotivPrestamo(true)"> {{constantes.TAG_INCLUIR_INACTIVOS}}</a>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-primary" id="btnNuevo" title="{{constantes.ATAJO_NUEVO}}"
            [disabled]="accion" (click)="operacionesMotivoPrestamo(constantes.ACCION_CREAR)">
            <i class="{{constantes.ICON_NUEVO}}" aria-hidden="true"></i>
            <span class="d-none d-md-inline"> {{constantes.LABEL_NUEVO}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar || isModal}">
    <!--formulario-->
    <fieldset *ngIf="vistaFormulario">
      <div class="card m-0">
        <div class="card-header p-1">
          <button id="btnActivar" class="btn btn-sm btn-primary mr-2" *ngIf="isScreamMd" (click)="activar=!activar"
            type="button" title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
            <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
          </button>
          <b>{{tituloForm}}</b>
          <div class="card-header-actions">
            <button *ngIf="accion === constantes.ACCION_CREAR" id="btnGuardar" type="button" (click)="insertarMotivoPrestamo(frmMotivo)"
              class="btn btn-sm btn-primary mr-1" [disabled]="cargando" title="{{constantes.ATAJO_GUARDAR}}">
              <i class="{{constantes.ICON_GUARDAR}}"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_GUARDAR}}</span>
            </button>
            <button *ngIf="accion === constantes.ACCION_EDITAR" id="btnGuardar" type="button" (click)="modificarMotivoPrestamo(frmMotivo)"
              class="btn btn-sm btn-primary mr-1" [disabled]="cargando" title="{{constantes.ATAJO_GUARDAR}}">
              <i class="{{constantes.ICON_GUARDAR}}"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_GUARDAR}}</span>
            </button>
            <button (click)="cancelar()" id="btnCancelar" type="button" class="btn btn-sm btn-default mr-1" [disabled]="cargando"
              title="{{constantes.ATAJO_CANCELAR}}" *ngIf="accion !== constantes.ACCION_CONSULTAR">
              <i class="{{constantes.ICON_CANCELAR}}"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_CANCELAR}}</span>
            </button>
            <button type="button" id="btnCancelar" class="btn btn-sm btn-default mr-1" title="{{constantes.ATAJO_CANCELAR}}"
              *ngIf="accion===constantes.ACCION_CONSULTAR" (click)="cancelar()">
              <i class="{{constantes.ICON_REGRESAR}}" aria-hidden="true"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_REGRESAR}}</span>
            </button>
          </div>
        </div>
        <div class="card-body pb-0 pt-1">
          <form #frmMotivo="ngForm" name="frmMotivo" autocomplete="off">
            <div class="row">
              <div class="form-group form-group-sm col-lg-6 col-md-6 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_DETALLE}}</b>
                </label>
                <input class="form-control form-control-sm mousetrap text-uppercase" name="detalle" maxlength="150"
                  [appFocus]="accion === constantes.ACCION_CREAR" type="text" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                  [(ngModel)]="motivoPrestamoSeleccionado.rhPrestamoMotivoPK.motDetalle" appUppercase id="detalle"
                  required [disabled]="accion!==constantes.ACCION_CREAR">
              </div>
              <div class="form-group form-group-sm has-feedback col-lg-6 col-md-6 col-sm-12">
                <label class="control-label">
                  <strong>{{constantes.TAG_TIPO_CONTABLE}}</strong>
                </label>
                <select class="form-control input-sm mousetrap" name="tipo" [(ngModel)]="tipoContableSeleccionado"
                  [appFocus]="accion === constantes.ACCION_EDITAR" required [disabled]="accion===constantes.ACCION_CONSULTAR">
                  <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
                  <option [ngValue]="tipo" *ngFor="let tipo of listaTipoContable"> {{tipo?.tipDetalle}}
                    ({{tipo?.tipCodigo}})</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
    <!--Listado-->
    <div class="card m-0" *ngIf="listaResultado?.length>0 && !vistaFormulario">
      <div class="modal-header p-2" *ngIf="isModal">
        <h4 class="modal-title">{{constantes.TAG_MOTIVO_PRESTAMO_LISTADO}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-header p-1" *ngIf="!isModal">
        <button id="btnActivar" class="btn btn-sm btn-primary mr-2" *ngIf="isScreamMd" (click)="activar=!activar" type="button"
          title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
          <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
        </button>
        <strong>{{constantes.TAG_MOTIVO_PRESTAMO_LISTADO}}</strong>

        <div class="card-header-actions">
          <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimir" (click)="imprimir()" placement="top"
            ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
            <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i>
            <span class="d-none d-md-inline"> {{constantes.LABEL_IMPRIMIR}}</span>
          </button>
          <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportar" (click)="exportar()" placement="top"
            ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}">
            <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i>
            <span class="d-none d-md-inline"> {{constantes.LABEL_EXPORTAR}}</span>
          </button>
        </div>
      </div>

      <div class="card-body" style="padding: 0 0 0 0">
        <div class="row">
          <div class="col-sm-5 col-md-6">
            <div class="input-group p-1">
              <input type="text" [(ngModel)]="filtroGlobal" (input)="filtrarRapido()" class="form-control form-control-sm input-filter mousetrap"
                size="100" style="font-family: Arial, FontAwesome;" placeholder="&#xf0b0; {{constantes.TAG_FILTRAR}}..."
                size="100">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="{{constantes.ICON_BUSCAR}}"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-6">
            <div class="float-right pr-1">
              <p-multiSelect [options]="columnDefs" [(ngModel)]="columnDefsSelected" optionLabel="headerName"
                maxSelectedLabels="1" selectedItemsLabel="{0} {{constantes.MSJ_COLUMNAS}}" defaultLabel="{{constantes.TAG_SELECCIONE}}"></p-multiSelect>
            </div>
          </div>
        </div>
        <!--listado de motivo prestamo-->
        <ag-grid-angular #agGrid id="agGrid" style="width: 100%; height: calc(100vh - 203px);" class="ag-theme-balham"
          [rowData]="listaResultado" [columnDefs]="columnDefsSelected" [enableSorting]="true" [multiSortKey]="multiSortKey"
          [rowSelection]="rowSelection" [enableColResize]="true" [components]="components" [context]="context"
          [frameworkComponents]="frameworkComponents" (gridSizeChanged)="redimencionarColumnas()" (gridReady)="onGridReady($event)"
          (rowSelected)="motivoPrestamoSeleccionado = $event.node.data" (cellContextMenu)="!this.isModal?mostrarContextMenu($event.data, $event.event):null"
          (contextmenu)="!this.isModal?$event.preventDefault():null" (filterChanged)="actualizarFilas()"
          (gridColumnsChanged)="redimencionarColumnas()" (cellFocused)="filaFocused($event)" (cellDoubleClicked)="operacionesMotivoPrestamo(constantes.ACCION_CONSULTAR)">
        </ag-grid-angular>
        <p-contextMenu #menuOpciones [model]="opciones" appendTo='body'></p-contextMenu>
        <!--end listado de motivo prestamo-->
      </div>
    </div>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>