<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <div class="card m-0 mb-2">
      <div class="card-header">
        <i class="{{classIcon}}"></i><b> {{constantes.TITULO_FILTROS}}</b>
      </div>
      <!--FILTRO EMPRESA-->
      <div class="card-body pb-0 pt-1">
        <form #frmCuentasContables='ngForm' name="frmCuentasContables">
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select class="form-control form-control-sm mousetrap" name="empresa" required [(ngModel)]="empresaSeleccionada"
              (ngModelChange)="cambiarEmpresaSeleccionada()">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas"> {{empresa.empNombre}}
                ({{empresa.empCodigo}})</option>
            </select>
          </div>
        </form>
      </div>
      <!--BOTÓN BUSCAR-->
      <div class="card-footer text-muted">
        <div class="text-right">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary" id="btnBuscar" (click)="buscarAnexoCuentasContables()">
              <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i> {{constantes.LABEL_BUSCAR}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--CONFIGURAR CUENTAS CONTABLES-->
  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}" *ngIf="vistaFormulario">
    <form #frmConfiguracionCuentasContables='ngForm' name="frmConfiguracionCuentasContables">
      <div class="card m-0">
        <div class="card-header p-1">
          <button id="btnActivarCuentasContables" class="btn btn-sm btn-primary mr-1" *ngIf="!screamXS"
            (click)="activar=!activar" type="button" title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
            <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
          </button>
          <strong>{{constantes.TRIBUTACION_CONFIGURACION_CUENTAS_CONTABLES}}</strong>
          <div class="card-header-actions">
            <div class="btn-group">
              <!-- Botón Guardar-->
              <button id="btnGuardarConfiguracionCuentasContables" type="button" class="btn btn-sm btn-primary mr-1"
                placement="top" container="body" (click)="actualizarAnexoConfiguracionCuentasContables(frmConfiguracionCuentasContables)"
                [disabled]="cargando" title="{{constantes.ATAJO_GUARDAR}}">
                <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i>
                <span class="d-none d-md-inline"> {{constantes.LABEL_GUARDAR}}</span>
              </button>
              <!--Cancelar-->
              <button id="btnCancelarConfiguracionCuentasContables" (click)="cancelarAccion()" type="button" class="btn btn-sm btn-default mr-1"
                [disabled]="cargando">
                <i class="{{constantes.ICON_CANCELAR}}"></i> {{constantes.LABEL_CANCELAR}}
              </button>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="card m-1">
            <div class="card-header">
              <b>{{constantes.TAG_IVA}}</b>
              <div class="card-header-actions">
                <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#iva"
                  aria-expanded="true" placement="top" ngbTooltip="Ocultar/Mostrar">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
            <div class="card-body collapse show mt-0 mb-0 pt-1 pb-0" id="iva">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label">
                      <strong>{{constantes.TRIBUTACION_PAGADO_COMPRAS}}</strong>&nbsp;
                    </label>
                    <input class="form-control input-sm  mousetrap text-uppercase" name="ctaIvaPagado" id="ctaIvaPagado"
                      maxlength="20" placeholder="{{constantes.TAG_OBLIGATORIO}}" [appFocus]="true" id="cuenta"
                      (keydown)="buscarConCuentas($event,'ctaIvaPagado')" (blur)="validarCuenta('ctaIvaPagado')"
                      [(ngModel)]="cuentasContablesObjetos.ctaIvaPagado.cuentaCodigo" [ngbTooltip]="cuentasContablesObjetos.ctaIvaPagado.cuentaDetalle ? cuentasContablesObjetos.ctaIvaPagado.cuentaDetalle : null"
                      required>
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_COBRADO_VENTAS}}</strong>
                    </label>
                    <input name="ctaIvaCobrado" id="ctaIvaCobrado" [(ngModel)]="cuentasContablesObjetos.ctaIvaCobrado.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaIvaCobrado')" (blur)="validarCuenta('ctaIvaCobrado')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaIvaCobrado.cuentaDetalle ? cuentasContablesObjetos.ctaIvaCobrado.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card m-1">
            <div class="card-header">
              <b>{{constantes.TRIBUTACION_RETENCIONES_FUENTE_IVA}}</b>
              <div class="card-header-actions">
                <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#retencionesFuentesIva"
                  aria-expanded="true" placement="top" ngbTooltip="Ocultar/Mostrar">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
            <div class="card-body collapse show mt-0 mb-0 pt-1 pb-0" id="retencionesFuentesIva">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label">
                      <strong>{{constantes.TRIBUTACION_EFECTUEN_VENTAS}}</strong>&nbsp;
                    </label>
                    <input name="ctaRetFteIvaPagado" id="ctaRetFteIvaPagado" [(ngModel)]="cuentasContablesObjetos.ctaRetFteIvaPagado.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaRetFteIvaPagado')" (blur)="validarCuenta('ctaRetFteIvaPagado')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaRetFteIvaPagado.cuentaDetalle ? cuentasContablesObjetos.ctaRetFteIvaPagado.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_EFECTUADAS_COMPRAS}}</strong>
                    </label>
                    <input name="ctaRetFteIvaCobrado" id="ctaRetFteIvaCobrado" [(ngModel)]="cuentasContablesObjetos.ctaRetFteIvaCobrado.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaRetFteIvaCobrado')" (blur)="validarCuenta('ctaRetFteIvaCobrado')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaRetFteIvaCobrado.cuentaDetalle ? cuentasContablesObjetos.ctaRetFteIvaCobrado.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_EFECTUADAS_ASUMIDAS}}</strong>
                    </label>
                    <input name="ctaRetFteIvaAsumido" id="ctaRetFteIvaAsumido" [(ngModel)]="cuentasContablesObjetos.ctaRetFteIvaAsumido.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaRetFteIvaAsumido')" (blur)="validarCuenta('ctaRetFteIvaAsumido')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaRetFteIvaAsumido.cuentaDetalle ? cuentasContablesObjetos.ctaRetFteIvaAsumido.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card m-1">
            <div class="card-header">
              <b>{{constantes.TRIBUTACION_RETENCIONES_FUENTE_IMPUESTO_RENTA}}</b>
              <div class="card-header-actions">
                <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#retencionesFuentesImpuesto"
                  aria-expanded="true" placement="top" ngbTooltip="Ocultar/Mostrar">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
            <div class="card-body collapse show mt-0 mb-0 pt-1 pb-0" id="retencionesFuentesImpuesto">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label">
                      <strong>{{constantes.TRIBUTACION_EFECTUEN_VENTAS}}</strong>&nbsp;
                    </label>
                    <input name="ctaRetFteIrPagado" id="ctaRetFteIrPagado" [(ngModel)]="cuentasContablesObjetos.ctaRetFteIrPagado.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaRetFteIrPagado')" (blur)="validarCuenta('ctaRetFteIrPagado')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaRetFteIrPagado.cuentaDetalle ? cuentasContablesObjetos.ctaRetFteIrPagado.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_EFECTUADAS_COMPRAS}}</strong>
                    </label>
                    <input name="ctaRetFteIrCobrado" id="ctaRetFteIrCobrado" [(ngModel)]="cuentasContablesObjetos.ctaRetFteIrCobrado.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaRetFteIrCobrado')" (blur)="validarCuenta('ctaRetFteIrCobrado')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaRetFteIrCobrado.cuentaDetalle ? cuentasContablesObjetos.ctaRetFteIrCobrado.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_EFECTUADAS_ASUMIDAS}}</strong>
                    </label>
                    <input name="ctaRetFteIrAsumido" id="ctaRetFteIrAsumido" [(ngModel)]="cuentasContablesObjetos.ctaRetFteIrAsumido.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaRetFteIrAsumido')" (blur)="validarCuenta('ctaRetFteIrAsumido')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaRetFteIrAsumido.cuentaDetalle ? cuentasContablesObjetos.ctaRetFteIrAsumido.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card m-1">
            <div class="card-header">
              <b>{{constantes.TRIBUTACION_OTRAS_CUENTAS}}</b>
              <div class="card-header-actions">
                <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#otrasCuentas"
                  aria-expanded="true" placement="top" ngbTooltip="Ocultar/Mostrar">
                  <i class="fa fa-minus"></i>
                </a>
              </div>
            </div>
            <div class="card-body collapse show mt-0 mb-0 pt-1 pb-0" id="otrasCuentas">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label">
                      <strong>{{constantes.TRIBUTACION_OTROS_IMPUESTOS}}</strong>&nbsp;
                    </label>
                    <input name="ctaOtrosImpuestos" id="ctaOtrosImpuestos" [(ngModel)]="cuentasContablesObjetos.ctaOtrosImpuestos.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaOtrosImpuestos')" (blur)="validarCuenta('ctaOtrosImpuestos')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaOtrosImpuestos.cuentaDetalle ? cuentasContablesObjetos.ctaOtrosImpuestos.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_CUENTAS_COBRAR}}</strong>
                    </label>
                    <input name="ctaCuentasPorCobrar" id="ctaCuentasPorCobrar" [(ngModel)]="cuentasContablesObjetos.ctaCuentasPorCobrar.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaCuentasPorCobrar')" (blur)="validarCuenta('ctaCuentasPorCobrar')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaCuentasPorCobrar.cuentaDetalle ? cuentasContablesObjetos.ctaCuentasPorCobrar.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="left" ngbPopover="{{constantes.MSJ_CUENTAS_POR_COBRAR_CLIENTES}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_CUENTAS_PAGAR}}</strong>
                    </label>
                    <input name="ctaCuentasPorPagar" id="ctaCuentasPorPagar" [(ngModel)]="cuentasContablesObjetos.ctaCuentasPorPagar.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaCuentasPorPagar')" (blur)="validarCuenta('ctaCuentasPorPagar')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaCuentasPorPagar.cuentaDetalle ?cuentasContablesObjetos.ctaCuentasPorPagar.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_CUENTAS_ANTICIPO_CLIENTES}}</strong>
                    </label>
                    <input name="ctaAnticiposDeClientes" id="ctaAnticiposDeClientes" [(ngModel)]="cuentasContablesObjetos.ctaAnticiposDeClientes.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaAnticiposDeClientes')" (blur)="validarCuenta('ctaAnticiposDeClientes')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaAnticiposDeClientes.cuentaDetalle ? cuentasContablesObjetos.ctaAnticiposDeClientes.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group form-group-sm has-feedback">
                    <label class="control-label  ">
                      <strong>{{constantes.TRIBUTACION_CUENTAS_ANTICIPO_PROVEEDORES}}</strong>
                    </label>
                    <input name="ctaAnticiposAProveedores" id="ctaAnticiposAProveedores" [(ngModel)]="cuentasContablesObjetos.ctaAnticiposAProveedores.cuentaCodigo"
                      (keydown)="buscarConCuentas($event,'ctaAnticiposAProveedores')" (blur)="validarCuenta('ctaAnticiposAProveedores')"
                      [ngbTooltip]="cuentasContablesObjetos.ctaAnticiposAProveedores.cuentaDetalle ? cuentasContablesObjetos.ctaAnticiposAProveedores.cuentaDetalle : null"
                      class="form-control form-control-sm text-uppercase mousetrap">
                    <span class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_COINCIDENCIA_CUENTA}}"
                      container="body" triggers="mouseenter:mouseleave"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>