<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <form #frmConsumo='ngForm' name="frmConsumo" class="card m-0 mb-2">
      <fieldset [disabled]="vistaFormulario">
        <div class="card-header">
          <span>
            <i class="{{constantes.ICON_FILTRAR}}"></i>
            <b> {{constantes.TITULO_FILTROS}}</b>
          </span>
        </div>
        <div class="card-body pb-0 pt-1">
          <!--Empresa-->
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select [appFocus]="true" class="form-control form-control-sm mousetrap" name="empresa" required
              [(ngModel)]="empresaSeleccionada" (ngModelChange)="cambiarEmpresaSeleccionada()" [disabled]="vistaFormulario">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas">{{empresa.empNombre}}
                ({{empresa.empCodigo}})</option>
            </select>
          </div>
          <!--Periodo-->
          <div class="form-group form-group-sm has-feedback">
            <label class="control-label">
              <b>{{constantes.TAG_PERIODO}}</b>
              &nbsp;
              <a (click)="listarPeriodos()" *ngIf="!vistaFormulario">
                <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_PERIODOS}}"
                  container="body"></span>
              </a>
            </label>
            <p-dropdown [options]="listaPeriodos" name="periodo" [showClear]="true" [(ngModel)]="periodoSeleccionado"
              optionLabel="perDetalle" (ngModelChange)="limpiarResultado()" placeholder="{{constantes.TAG_TODOS}}"
              class="mousetrap" [disabled]="vistaFormulario">
              <ng-template let-item pTemplate="selectedItem">
                {{periodoSeleccionado?.perDetalle}}
              </ng-template>
              <ng-template let-fs pTemplate="item">
                <div class="">{{fs.value.perDetalle}}</div>
              </ng-template>
            </p-dropdown>
          </div>
          <!--Motivo-->
          <div class="form-group form-group-sm has-feedback">
            <label class="control-label">
              <b>{{constantes.TAG_MOTIVO}}</b>
              &nbsp;
              <a (click)="listarMotivosConsumo()" *ngIf="!vistaFormulario">
                <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_MOTIVOS}}"
                  container="body"></span>
              </a>
            </label>
            <p-dropdown [options]="listaConsumoMotivo" name="motivo" [showClear]="true" [(ngModel)]="motivoSeleccionado"
              optionLabel="cmDetalle" (ngModelChange)="limpiarResultado()" placeholder="{{constantes.TAG_TODOS}}" class="mousetrap"
              [disabled]="vistaFormulario">
              <ng-template let-item pTemplate="selectedItem">
                {{motivoSeleccionado?.cmDetalle}} ({{motivoSeleccionado?.cmCodigo}})
              </ng-template>
              <ng-template let-fs pTemplate="item">
                <div class="">{{fs.value.cmDetalle}} ({{fs.value.cmCodigo}})</div>
              </ng-template>
            </p-dropdown>
          </div>
          <!--Busqueda-->
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_FILTRAR}}</b>
            </label>
            <input class="form-control form-control-sm mousetrap text-uppercase" placeholder="OPCIONAL" name="busqueda"
              [(ngModel)]="busqueda" (ngModelChange)="limpiarResultado()" appUppercase [disabled]="vistaFormulario">
          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="text-right">
            <div class="btn-group">
              <button type="button" id="btnBuscar" class="btn btn-sm btn-primary" (click)="!vistaFormulario ? listarConsumo(20) : null"
                title="{{constantes.ATAJO_BUSCAR}}">
                <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i> {{constantes.LABEL_BUSCAR}}</button>
              <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="!vistaFormulario ? listarConsumo(50) : null">{{constantes.TAG_ULTIMOS_50}}</a>
                <a class="dropdown-item" (click)="!vistaFormulario ? listarConsumo(100) : null">{{constantes.TAG_ULTIMOS_100}}</a>
                <a class="dropdown-item" (click)="!vistaFormulario ? listarConsumo(null) : null">{{constantes.TAG_TODOS}}</a>
              </div>
            </div>&nbsp;
            <button class="btn btn-sm btn-primary" id="btnNuevo" type="button" (click)="!vistaFormulario && verificarPermiso(constantes.ACCION_CREAR, true) ? nuevoConsumo() : null"
              [disabled]="!frmConsumo.valid" title="{{constantes.ATAJO_NUEVO}}">
              <i class="{{constantes.ICON_NUEVO}}" aria-hidden="true"></i> {{constantes.LABEL_NUEVO}}</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}">
    <div *ngIf="vistaFormulario">
      <app-consumo-formulario [parametros]="parametrosFormulario" [empresaSeleccionada]="empresaSeleccionada"
        (enviarAccion)="ejecutarAccion($event)" (enviarActivar)="activar=!$event">
      </app-consumo-formulario>
    </div>
    <div [hidden]="vistaFormulario">
      <app-consumo-listado [parametrosBusqueda]="parametrosListado" [empresaSeleccionada]="empresaSeleccionada"
        (enviarActivar)="activar=!$event" (enviarAccion)="ejecutarAccion($event)"></app-consumo-listado>
    </div>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>