<div class="swal2-container swal2-container-personalizado swal2-center swal2-fade" style="overflow-y: auto;position: relative;">
  <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1"
    role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
    <div class="swal2-header">
      <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
        <span class="swal2-success-line-tip"></span>
        <span class="swal2-success-line-long"></span>
        <div class="swal2-success-ring"></div>
        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
        <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
      </div>
      <img class="swal2-image" style="display: none;">
      <h2 class="swal2-title" id="swal2-title" style="display: flex;">{{constantes.SWAL_CORRECTO}}</h2>
      <button type="button" class="swal2-close" style="display: none;">×</button>
    </div>
    <div class="swal2-content">
      <div id="swal2-content" style="display: block;">
        <p [innerHTML]="mensaje"></p>

      </div>
    </div>
    <div class="swal2-actions" style="display: flex;">
      <!--boton imprimir sin combo-->
      <button type="button" class="btn btn-sm btn-primary mr-1" (click)="imprimirContable()" placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}"
        *ngIf="!mostrarCombo">
        <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i> {{constantes.LABEL_IMPRIMIR}}
      </button>
      <!--boton imprimir con combo-->
      <div class="btn-group mr-1" *ngIf="mostrarCombo">
        <button type="button" class="btn btn-sm btn-primary" (click)="imprimirContable()" placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}">
          <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i> {{constantes.LABEL_IMPRIMIR}}</button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="imprimirCombo()">{{textoImprimirCombo}}</a>
        </div>
      </div>
      <!--boton cancelar-->
      <button type="button" class="btn btn-sm btn-default mr-1" aria-label="Close" (click)="activeModal.dismiss('Cross click')"
        placement="top" ngbTooltip="{{constantes.LABEL_CANCELAR}}">
        <i class="{{constantes.ICON_CANCELAR}}" aria-hidden="true"></i> {{constantes.LABEL_CANCELAR}}
      </button>
    </div>
    <div class="swal2-footer" style="display: none;"></div>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>