<div class="row" *ngIf="!mostrarKardex">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <div class="card m-0 mb-2">
      <div class="card-header">
        <i class="{{constantes.ICON_FILTRAR}}"></i> <b>{{constantes.TITULO_FILTROS}}</b>
      </div>
      <div class="card-body pb-0 pt-1">
        <form #frm="ngForm" autocomplete="off">
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select class="form-control input-sm" name="cboEmpresa" [(ngModel)]="empresaSeleccionada" (ngModelChange)="cambiarEmpresaSeleccionada()"
              [disabled]="mostrarCostoPiscina" required>
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option selected [ngValue]="empresa" *ngFor="let empresa of listaEmpresas"> {{empresa.empNombre}}
                ({{empresa.empCodigo}})
              </option>
            </select>
          </div>
          <div class="form-group form-group-sm has-feedback">
            <label class="control-label">
              <strong>{{constantes.TAG_SECTOR}}</strong>
              &nbsp;
              <a (click)="listarSectores()" *ngIf="!mostrarCostoPiscina">
                <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_SECTORES}}"
                  container="body"></span>
              </a>
            </label>
            <p-dropdown [options]="listaSectores" name="cboSector" [showClear]="true" [(ngModel)]="sectorSeleccionado"
              (ngModelChange)="limpiarResultado()" [disabled]="mostrarCostoPiscina" placeholder="{{constantes.TAG_TODOS}}"
              optionLabel="secNombre">
              <ng-template let-item pTemplate="selectedItem">
                {{sectorSeleccionado?.secNombre}} ( {{sectorSeleccionado?.secCodigo}} )
              </ng-template>
              <ng-template let-fs pTemplate="item">
                <div> {{fs.value.secNombre}} ({{fs.value.secCodigo}} )</div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_FECHA_DESDE}}</b>
            </label>
            <p-calendar inputId="iniFecha" name="iniFecha" id="fechaDesde" [(ngModel)]="fechaInicio" (ngModelChange)="limpiarResultado()"
              [disabled]="mostrarCostoPiscina" [maxDate]="fechaFin" [appMaxDate]="fechaFin" dateFormat="dd/mm/yy"
              [locale]="es" [showIcon]="true" [required]="true"></p-calendar>
          </div>
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_FECHA_HASTA}}</b>
            </label>
            <p-calendar inputId="finFecha" name="finFecha" [(ngModel)]="fechaFin" (ngModelChange)="limpiarResultado();"
              [disabled]="mostrarCostoPiscina" [minDate]="fechaInicio" [appMinDate]="fechaInicio" dateFormat="dd/mm/yy"
              [locale]="es" [showIcon]="true" [required]="true"></p-calendar>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted" *ngIf="!mostrarCostoPiscina">
        <div class="text-right">
          <button type="button" id="btnBuscarResumenPesca" class="btn btn-sm btn-primary mr-1" (click)="buscarResumenPesca(frm)">
            <i class=" {{constantes.ICON_BUSCAR}} " aria-hidden="true "></i> {{constantes.LABEL_BUSCAR}} </button>

        </div>
      </div>
    </div>
  </div>
  <!--listado de resumen siembra-->
  <div [ngClass]="{ 'col-lg-9 col-md-8 col-sm-7':!activar, 'col-lg-12 col-md-12 col-sm-12':activar} " *ngIf="!mostrarCostoPiscina">
    <div class="card m-0" *ngIf="listaResultadoResumenPescaSiembra?.length> 1">

      <div class="card-header p-1">
        <button id="btnActivarResumenPesca" class="btn btn-sm btn-primary mr-1" *ngIf="!screamXS" (click)="activar=!activar"
          type="button" title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
          <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
        </button>
        <strong>{{constantes.PRODUCCION_RESUMEN_PESCA_LISTADO}} </strong>

        <div class="card-header-actions">
          <div class="btn-group d-lg-none">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirResumenPesca" (click)="imprimirResumenPesca()"
              placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarResumenPesca" (click)="exportarResumenPesca()"
              placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group d-none d-lg-block">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirResumenPesca" (click)="imprimirResumenPesca()"
              placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i> {{constantes.LABEL_IMPRIMIR}}
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarResumenPesca" (click)="exportarResumenPesca()"
              placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i> {{constantes.LABEL_EXPORTAR}}
            </button>
          </div>
        </div>
      </div>

      <div class="card-body" style="padding: 0 0 0 0">
        <div class="row">
          <div class="col-sm-5 col-md-6">
            <div class="input-group p-1">
              <input type="text" [(ngModel)]="filtroGlobal" (input)="filtrarRapido()" class="form-control form-control-sm input-filter mousetrap"
                size="100" style="font-family: Arial, FontAwesome;" placeholder="&#xf0b0; {{constantes.TAG_FILTRAR}}..."
                size="100">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="{{constantes.ICON_BUSCAR}}"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-6">
            <div class="float-right pr-1">
              <p-multiSelect [options]="columnDefs" [(ngModel)]="columnDefsSelected" optionLabel="headerName"
                maxSelectedLabels="1" selectedItemsLabel="{0} {{constantes.MSJ_COLUMNAS}}" defaultLabel="{{constantes.TAG_SELECCIONE}}"></p-multiSelect>
            </div>
          </div>
        </div>
        <ag-grid-angular #agGrid id="agGrid" style="width: 100%; height: calc(100vh - 490px);" class="ag-theme-balham"
          [rowData]="listaResultadoResumenPescaSiembra" [columnDefs]="columnDefsSelected" [enableSorting]="true"
          [multiSortKey]="multiSortKey" [rowSelection]="rowSelection" [enableColResize]="true" [components]="components"
          [context]="context" [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)"
          (rowSelected)="ResumenPescaSiembraSeleccionado = $event.node.data" (cellContextMenu)="mostrarContextMenu($event.data, $event.event)"
          (contextmenu)="$event.preventDefault()" (filterChanged)="actualizarFilas()" (cellFocused)="filaFocused($event)"
          (gridColumnsChanged)="redimencionarColumnas()" (gridSizeChanged)="redimencionarColumnas()">
        </ag-grid-angular>
        <p-contextMenu #menuOpciones appendTo="body" [model]="opciones"></p-contextMenu>

      </div>
    </div>
  </div>
  <!--listado de costo por piscina-->
  <div [ngClass]="{ 'col-lg-9 col-md-8 col-sm-7':!activar, 'col-lg-12 col-md-12 col-sm-12':activar} " *ngIf="mostrarCostoPiscina">
    <app-costos-piscina-listado [parametroBusqueda]="parametrosBusqueda" (activar)="activar = $event" (cargando)="cargando = $event"
      (cerrarListado)="parametrosBusqueda =$event;mostrarCostoPiscina = false" (seObtuvoProducto)="consultarKardex($event)"></app-costos-piscina-listado>
  </div>
  <!--Grafico-->
  <div *ngIf="data && listaResultadoResumenPescaSiembra?.length> 1" class="col-lg-12 col-md-12 col-sm-12" style="width: 100%; height: calc(100vh - 925px);">
    <ngx-charts-area-chart class="chart-container" (window:resize)="onResize($event)" [view]="view" [scheme]="colorScheme"
      [results]="data" [gradient]="false" [xAxis]="true" [yAxis]="true" [legend]="true" [legendPosition]="below" [legendTitle]="cc" [showXAxisLabel]="true"
      [showYAxisLabel]="true" [xAxisLabel]="constantes.TAG_PISCINA" [yScaleMax]="10000" [yAxisLabel]="constantes.TAG_COSTO"
      [autoScale]="false" [timeline]="true">
    </ngx-charts-area-chart>
  </div>


  <!--Modal de detalle-->
  <p-dialog header="{{constantes.TAG_DATOS_RESUMEN_PESCA}}" [(visible)]="verDetalle" [modal]="true" [responsive]="true"
    [minWidth]="450" [minHeight]="400" [width]="550">
    <table>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_SECTOR}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.secCodigo}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_SIEMBRA}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcFechaSiembra}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_DENSIDAD}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcDensidad|number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_BIOMASA}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcBiomasa|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_PISCINA}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.pisNumero}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_EDAD}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcEdad}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_DIAS_MUERTOS}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcDiasMuertos}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_CORRIDA_MAY}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcCorridaNumero}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_LABORATORIO}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcLaboratorio}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_NAUPLIO}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcNauplio}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_BALANCEADO}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcLibrasBalanceados|number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_HECTAREAJE}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcHectareaje|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_BIOMASA_REAL}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcBiomasaReal|number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_CONVERSION}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcConversion|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_PESO_IDEAL}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcPesoIdeal}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_SOBREVIVENCIA }}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcSobrevivencia }}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_COSTO}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcCosto|number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_COSTO_DIRECTO }}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcDirecto |number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_COSTO_INDIRECTO }}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcIndirecto |number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_TOTAL_DIAS }}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcCostoTotalDia |number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_DIA_DIRECTO }}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcCostoDirectoDia|number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_HECTAREAS}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcCostoHectarea|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_DIA_INDIRECTO }}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcCostoindirectoDia|number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_FECHA_PESCA }}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcFechaPesca}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_VENTA}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcValorVenta |number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_RESULTADO}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcResultado|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_VENTA_HECTAREAS}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcVentaHectarea |number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_RESULTADO_HECTAREAS}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcResultadoHectarea|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_COSTO_LIBRA}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcCostoLibra |number:'1.2-2'}}</td>
        <td class="tr-negrita" style="width: 10%;">&nbsp;&nbsp; {{constantes.TAG_VENTA_LIBRA}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcVentaLibra|number:'1.2-2'}}</td>
      </tr>
      <tr>
        <td class="tr-negrita" style="width: 10%;">{{constantes.TAG_RESULTADO_LIBRA}}:</td>
        <td class="text-right" style="width: 10%;">{{resumenPescaSiembraSeleccionado?.rcResultadoLibra
          |number:'1.2-2'}}
        </td>
      </tr>
    </table>
  </p-dialog>

</div>

<!--KARDEX-->
<div *ngIf="productoSeleccionado && mostrarKardex">
  <app-kardex [objetoDesdeFuera]="objetoDesdeFuera" (cerrarKardex)="cerrarKardex($event)"></app-kardex>
</div>

<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>