<div class="card mb-1">
  <div class="card-header">
    <b> {{constantes.TAG_ANTICIPOS}}</b>
    <div class="card-header-actions">
      <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseAn"
        aria-expanded="true" placement="top" ngbTooltip="{{constantes.TAG_MOSTRAR_OCULTAR}}">
        <i class="fa fa-minus"></i>
      </a>
    </div>
  </div>
  <div class="collapse show" id="collapseAn">
    <ag-grid-angular #agGrid id="agGrid" style="width: 100%;" [gridAutoHeight]="true" class="ag-theme-balham" [rowData]="listadoPagosAnticipos"
      [columnDefs]="columnDefsSelected" [enableSorting]="true" [rowSelection]="rowSelection" [enableColResize]="true"
      [components]="components" [context]="context" [frameworkComponents]="frameworkComponents" [animateRows]="true"
      [suppressClickEdit]=true (gridReady)="onGridReady($event)" (rowSelected)="objetoSeleccionado = $event.node.data"
      (cellFocused)="filaFocused($event)" (filterChanged)="actualizarFilas()" (contextmenu)="$event.preventDefault()"
      (cellContextMenu)="mostrarContextMenu($event.data, $event.event)" (cellEditingStopped)="alCambiarValorDeCelda($event)"
      [stopEditingWhenGridLosesFocus]="true" [overlayNoRowsTemplate]="noData" [suppressDragLeaveHidesColumns]="true"
      (gridSizeChanged)="redimensionarColumnas()" (cellDoubleClicked)="objetoSeleccionado = $event.node.data;verContable(objetoSeleccionado)">
    </ag-grid-angular>
  </div>
  <div class="card-footer">
    <div class="card-header-actions mr-3">
      <h2>{{constantes.TAG_TOTAL}} : {{totales.anticipo | number:'1.2-2'}}</h2>
    </div>
  </div>
  <p-contextMenu #menuOpciones appendTo="body" [model]="opciones"></p-contextMenu>
</div>