<!--SECCION FORMULARIO NUEVO-->
<form #frmMotivoProformaDatos='ngForm' autocomplete="off" class="card m-0">
  <fieldset>
    <div class="card-header p-1">
      <button id="btnActivar" class="btn btn-sm btn-primary" *ngIf="isScreamMd" (click)="cambiarActivar(activar)" type="button"
        title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
        <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
      </button>
      <b class="pl-2"> {{tituloForm}} </b>
      <!--SECCION BOTONES GUARDAR - MODIFICAR - CANCELAR -->
      <div class="card-header-actions">
        <!--BOTON GUARDAR NUEVO -->
        <button type="button" class="btn btn-sm btn-primary mr-1" id="btnGuardarMotivoProforma" (click)="insertarProformaMotivo(frmMotivoProformaDatos)"
          *ngIf="accion === constantes.ACCION_CREAR" title="{{constantes.ATAJO_GUARDAR}}">
          <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i> {{constantes.LABEL_GUARDAR}}</button>
        <!--BOTON GUARDAR MODIFICADO -->
        <button type="button" class="btn btn-sm btn-primary  mr-1" id="btnGuardarMotivoProforma" (click)="actualizarProformaMotivo(frmMotivoProformaDatos)"
          *ngIf="accion === constantes.ACCION_EDITAR">
          <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i> {{constantes.LABEL_GUARDAR}}</button>
        <!--BOTON REGRESAR -->
        <button type="button" class="btn btn-sm btn-default mr-1" id="btnCancelarMotivoProforma" (click)="cancelar()"
          title="{{constantes.ATAJO_CANCELAR}}" *ngIf="accion === constantes.ACCION_CONSULTAR">
          <i class="{{constantes.ICON_REGRESAR}}" aria-hidden="true"></i>
          <span class="d-none d-md-inline"> {{constantes.LABEL_REGRESAR}}</span>
        </button>
        <!--BOTON CANCELAR -->
        <button class="btn btn-sm btn-default mr-1" id="btnCancelarMotivoProforma" type="button" (click)="cancelar()"
          title="{{constantes.ATAJO_CANCELAR}}" *ngIf="!(accion === constantes.ACCION_CONSULTAR)">
          <i class="{{constantes.ICON_CANCELAR}}" aria-hidden="true"></i> {{constantes.LABEL_CANCELAR}}
        </button>
      </div>
    </div>
    <!--Formulario de Motivo de Consumo-->
    <div class="card-body p-1">
      <div class="card mb-1">
        <div class="card-header">
          <b> {{constantes.TAG_DATOS_GENERALES}}</b>
          <div class="card-header-actions">
            <a href="#" class="card-header-action btn-minimize" data-toggle="collapse" data-target="#collapseMotivoInfo"
              aria-expanded="true" placement="top" ngbTooltip="{{constantes.TAG_MOSTRAR_OCULTAR}}">
              <i class="fa fa-minus"></i>
            </a>
          </div>
        </div>
        <div class="card-body collapse show mt-0 mb-0 pt-1 pb-0" id="collapseMotivoInfo">
          <div class="row">
            <!--CODIGO-->
            <div class="form-group form-group-sm col-lg-6 col-sm-6">
              <label class="control-label">
                <b>{{constantes.TAG_CODIGO}}</b>
              </label>
              <input [appFocus]="accion === constantes.ACCION_CREAR" name="codigo" #codigo="ngModel" [(ngModel)]="invProformaMotivoTO.pmCodigo"
                pattern="{{constantes.PATTERN_CODIGO}}" [disabled]="accion !== constantes.ACCION_CREAR" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                class="form-control input-sm mousetrap text-uppercase" required maxlength="20" appUppercase>
              <span *ngIf="accion === constantes.ACCION_CREAR" class="fa fa-question-circle form-control-feedback"
                placement="right" ngbPopover="{{constantes.MSJ_INFOCODIGO}}" container="body"></span>
            </div>
            <!--DETALLE-->
            <div class="form-group form-group-sm col-lg-6 col-sm-6">
              <label class="control-label">
                <b>{{constantes.TAG_DETALLE}}</b>
              </label>
              <input [appFocus]="accion === constantes.ACCION_EDITAR" class="form-control form-control-sm mousetrap text-uppercase"
                name="detalle" maxlength="150" type="text" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="invProformaMotivoTO.pmDetalle"
                appUppercase id="detalle" required [disabled]="accion === constantes.ACCION_CONSULTAR">
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>