<form #frmEmpresaDatos='ngForm' autocomplete="off" class="card m-0" *ngIf="accion !== constantes.ACCION_ELIMINAR && accion !== constantes.ACCION_EDITAR_ESTADO">
  <div class="card-header p-1" style="padding: 0.5rem 0.5rem;">
    <b class="pl-2"> {{accion}} {{constantes.TAG_EMPRESA}} - </b>
    <strong class="text-primary">{{empresaSeleccionada.empNombre}}</strong>
    <div class="card-header-actions">
      <div class="btn-group d-lg-none">
        <ng-template #tipContentGuardar>{{constantes.LABEL_GUARDAR}}</ng-template>
        <button type="button" class="btn btn-sm btn-primary mr-1" [ngbTooltip]="tipContentGuardar" id="btnGuardarEmpresa1" *ngIf="accion === constantes.ACCION_EDITAR"
          title="{{constantes.ATAJO_GUARDAR}}" (click)="verificarPermiso(constantes.ACCION_EDITAR, true) ? actualizarEmpresa(frmEmpresaDatos) : null">
          <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i>
        </button>
        <ng-template #tipContentCancelar>{{accion === constantes.ACCION_CONSULTAR?constantes.LABEL_REGRESAR:constantes.LABEL_CANCELAR}}
        </ng-template>
        <button type="button" class="btn btn-sm btn-default mr-1" title="{{constantes.ATAJO_CANCELAR}}" id="btnCancelarEmpresa1"
          [ngbTooltip]="tipContentCancelar" (click)="cerrarFormulario()">
          <i class="{{accion === constantes.ACCION_CONSULTAR?constantes.ICON_REGRESAR:constantes.ICON_CANCELAR}}" aria-hidden="true"></i>
        </button>
      </div>
      <!-- con etiquetas-->
      <div class="btn-group d-none d-lg-block">
        <button type="button" class="btn btn-sm btn-primary mr-1" id="btnGuardarEmpresa" *ngIf="accion === constantes.ACCION_EDITAR"
          title="{{constantes.ATAJO_GUARDAR}}" (click)="verificarPermiso(constantes.ACCION_EDITAR, true) ? actualizarEmpresa(frmEmpresaDatos) : null">
          <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i> {{constantes.LABEL_GUARDAR}}
        </button>
        <button type="button" class="btn btn-sm btn-default mr-1" title="{{constantes.ATAJO_CANCELAR}}" id="btnCancelarEmpresa" (click)="cerrarFormulario()">
          <i class="{{accion === constantes.ACCION_CONSULTAR?constantes.ICON_REGRESAR:constantes.ICON_CANCELAR}}" aria-hidden="true"></i>
          {{accion === constantes.ACCION_CONSULTAR?constantes.LABEL_REGRESAR:constantes.LABEL_CANCELAR}}
        </button>
      </div>
    </div>
  </div>

  <div class="card-body p-1">
    <fieldset [disabled]="accion === constantes.ACCION_CONSULTAR" autocomplete="off">
      <!--informacion de Empresa-->
      <div class="mb-1" *ngIf="!administracion">
        <div class="card-body mt-0 mb-0 pt-1 pb-0">
          <div class="row form-group">
            <div class="col-lg-4 col-sm-6">
              <label>
                <strong>{{constantes.TAG_CODIGO}}</strong>
              </label>
              <label class="form-control form-control-sm text-uppercase label-input">{{empresa.empCodigo}}</label>
            </div>
            <div class="col-lg-4 col-sm-6">
              <label>
                <strong>{{constantes.TAG_RUC_ID}}</strong>
              </label>
              <label class="form-control form-control-sm text-uppercase label-input">{{empresa.empRuc}}</label>
            </div>
            <div class="col-lg-4 col-sm-12">
              <label>
                <strong>{{constantes.TAG_RAZON_SOCIAL}}</strong>
              </label>
              <label class="form-control form-control-sm text-uppercase label-input">{{empresa.empRazonSocial}}</label>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label>
                <strong>{{constantes.TAG_EMAIL_NOTIFICACIONES}}</strong>
              </label>
              <input type="text" pKeyFilter="email" pattern="[a-zA-Z0-9_.-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}((;\s?){1}[a-zA-Z0-9_]+@[a-zA-Z0-9.-]+\.[a-z]{2,})*$"
                name="empEmailNotificaciones" placeholder="{{constantes.TAG_OPCIONAL}}" (ngModelChange)="verificarCampos()"
                (blur)="verificarCampos()" [(ngModel)]="empresa.empEmailNotificaciones" class="form-control form-control-sm mousetrap"
                [required]="hayClave">
            </div>
            <div class="col-md-6">
              <label>
                <strong>{{constantes.TAG_CLAVE_NOTIFICACIONES}}</strong>
              </label>
              <input type="password" name="empClaveNotificaciones" placeholder="{{constantes.TAG_OPCIONAL}}" (blur)="verificarCampos()"
                [(ngModel)]="empresa.empClaveNotificaciones" class="form-control form-control-sm mousetrap" (ngModelChange)="verificarCampos()"
                autocomplete="new-password" [required]="hayEmail">
            </div>
          </div>
        </div>
      </div>
      <div class="mb-1" *ngIf="administracion">
        <ul class="nav nav-tabs nav-justified nav-empresa" role="tablist" style="box-shadow: inset 0 -1px 0 #ddd;">
          <li role="presentation" class="nav-item">
            <a class="nav-link active p-1" href data-target="#general" aria-controls="general" role="tab" data-toggle="tab">
              <b>{{constantes.TAG_DATOS_GENERALES}}</b>
            </a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link p-1" href data-target="#administrativo" aria-controls="administrativo" role="tab" data-toggle="tab">
              <b>{{constantes.TAG_DATOS_ADMINISTRATIVOS}}</b>
            </a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link p-1" href data-target="#otros" aria-controls="otros" role="tab" data-toggle="tab">
              <b>{{constantes.TAG_OTROS_DATOS}}</b>
            </a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link p-1" href data-target="#logo" aria-controls="logo" role="tab" data-toggle="tab">
              <b>{{constantes.TAG_LOGO}}</b>
            </a>
          </li>
        </ul>
        <div class="tab-content panel" style="border-top-width: 0px;">
          <div role="tabpanel" class="tab-pane fade show active" id="general">
            <div class="panel-default">
              <div class="panel-body">
                <div class="row form-group">
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.TAG_CODIGO}}</strong>
                    </label>
                    <input type="text" name="empCodigo" pattern="{{constantes.PATTERN_CODIGO}}" [appFocus]="accion === constantes.ACCION_CREAR"
                      placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empCodigo" class="form-control form-control-sm text-uppercase mousetrap"
                      required *ngIf="accion === constantes.ACCION_CREAR" appUppercase>
                    <label class="form-control form-control-sm text-uppercase label-input" *ngIf="accion !== constantes.ACCION_CREAR">{{empresa.empCodigo}}</label>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.TAG_RUC_ID}}</strong>
                    </label>
                    <input type="text" [appFocus]="accion === constantes.ACCION_EDITAR" name="empRuc" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                      [(ngModel)]="empresa.empRuc" class="form-control form-control-sm mousetrap text-uppercase" required appUppercase>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <label>
                      <strong>{{constantes.TAG_RAZON_SOCIAL}}</strong>
                    </label>
                    <input type="text" name="empRazonSocial" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empRazonSocial"
                      class="form-control form-control-sm mousetrap text-uppercase" required appUppercase>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-4 col-sm-12">
                    <label>
                      <strong>{{constantes.TAG_NOMBRE_COMERCIAL}}</strong>
                    </label>
                    <input type="text" name="empNombre" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empNombre" class="form-control form-control-sm mousetrap text-uppercase"
                      required appUppercase>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.TAG_ACTIVIDAD}}</strong>
                    </label>
                    <input type="text" name="empRuc" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empRuc" class="form-control form-control-sm mousetrap text-uppercase"
                      required appUppercase>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.TAG_TELEFONO}}</strong>
                    </label>
                    <input type="text" name="empTelefono" placeholder="{{constantes.TAG_OPCIONAL}}" [(ngModel)]="empresa.empTelefono" class="form-control form-control-sm mousetrap text-uppercase"
                      appUppercase>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.TAG_FAX}}</strong>
                    </label>
                    <input type="text" name="empFax" placeholder="{{constantes.TAG_OPCIONAL}}" [(ngModel)]="empresa.empFax" class="form-control form-control-sm mousetrap text-uppercase"
                      appUppercase>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.TAG_CIUDAD}}</strong>
                    </label>
                    <input type="text" name="empCiudad" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empCiudad" class="form-control form-control-sm mousetrap text-uppercase"
                      appUppercase required>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <label>
                      <strong>{{constantes.TAG_DIRECCION}}</strong>
                    </label>
                    <input type="text" name="empDireccion" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empDireccion" class="form-control form-control-sm mousetrap text-uppercase"
                      appUppercase required>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-4 col-sm-12">
                    <label ngbTooltip="{{constantes.SISTEMA_RES_CONTRIBUYENTE_COMPLETO}}">
                      <strong>{{constantes.SISTEMA_RES_CONTRIBUYENTE}}</strong>
                    </label>
                    <input type="text" name="emResolucionContribuyenteEspecial" placeholder="{{constantes.TAG_OPCIONAL}}" [(ngModel)]="empresa.emResolucionContribuyenteEspecial"
                      class="form-control form-control-sm mousetrap text-uppercase" appUppercase>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.SISTEMA_OBLIGADO_A_LLEVAR_CONTABILIDAD}}</strong>
                    </label>
                    <input type="text" name="emObligadoLlevarContabilidad" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.emObligadoLlevarContabilidad"
                      class="form-control form-control-sm mousetrap text-uppercase" required appUppercase>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <label>
                      <strong>{{constantes.SISTEMA_ESCOGER_POR}}</strong>
                    </label>
                    <input type="text" name="empDireccion" placeholder="{{constantes.TAG_OBLIGATORIO}}" appUppercase [(ngModel)]="empresa.empDireccion"
                      class="form-control form-control-sm mousetrap text-uppercase" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="administrativo">
            <div class="row form-group">
              <div class="col-lg-4 col-sm-6">
                <label>
                  <strong>{{constantes.TAG_CODIGO}}</strong>
                </label>
                <input type="text" name="empCodigo" pattern="{{constantes.PATTERN_CODIGO}}" [appFocus]="accion === constantes.ACCION_CREAR"
                  placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empCodigo" class="form-control form-control-sm text-uppercase mousetrap"
                  required *ngIf="accion === constantes.ACCION_CREAR" appUppercase>
                <label class="form-control form-control-sm text-uppercase label-input" *ngIf="accion !== constantes.ACCION_CREAR">{{empresa.empCodigo}}</label>
              </div>
              <div class="col-lg-4 col-sm-6">
                <label>
                  <strong>{{constantes.TAG_RUC_ID}}</strong>
                </label>
                <input type="text" [appFocus]="accion === constantes.ACCION_EDITAR" name="empRuc" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                  [(ngModel)]="empresa.empRuc" class="form-control form-control-sm mousetrap text-uppercase" required appUppercase>
              </div>
              <div class="col-lg-4 col-sm-12">
                <label>
                  <strong>{{constantes.TAG_RAZON_SOCIAL}}</strong>
                </label>
                <input type="text" name="empRazonSocial" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empRazonSocial"
                  class="form-control form-control-sm mousetrap text-uppercase" required appUppercase>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-4 col-sm-12">
                <label>
                  <strong>{{constantes.TAG_NOMBRE_COMERCIAL}}</strong>
                </label>
                <input type="text" name="empNombre" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empNombre" class="form-control form-control-sm mousetrap text-uppercase"
                  required appUppercase>
              </div>
              <div class="col-lg-4 col-sm-6">
                <label>
                  <strong>{{constantes.TAG_ACTIVIDAD}}</strong>
                </label>
                <input type="text" name="empRuc" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empRuc" class="form-control form-control-sm mousetrap text-uppercase"
                  required appUppercase>
              </div>
              <div class="col-lg-4 col-sm-6">
                <label>
                  <strong>{{constantes.TAG_TELEFONO}}</strong>
                </label>
                <input type="text" name="empTelefono" placeholder="{{constantes.TAG_OPCIONAL}}" [(ngModel)]="empresa.empTelefono" class="form-control form-control-sm mousetrap text-uppercase"
                  appUppercase>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-4 col-sm-6">
                <label>
                  <strong>{{constantes.TAG_FAX}}</strong>
                </label>
                <input type="text" name="empFax" placeholder="{{constantes.TAG_OPCIONAL}}" [(ngModel)]="empresa.empFax" class="form-control form-control-sm mousetrap text-uppercase"
                  appUppercase>
              </div>
              <div class="col-lg-4 col-sm-6">
                <label>
                  <strong>{{constantes.TAG_CIUDAD}}</strong>
                </label>
                <input type="text" name="empCiudad" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empCiudad" class="form-control form-control-sm mousetrap text-uppercase"
                  appUppercase required>
              </div>
              <div class="col-lg-4 col-sm-12">
                <label>
                  <strong>{{constantes.TAG_DIRECCION}}</strong>
                </label>
                <input type="text" name="empDireccion" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.empDireccion" class="form-control form-control-sm mousetrap text-uppercase"
                  appUppercase required>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="otros">
            <div class="panel-default">
              <div class="panel-body">
                <div class="row form-group">
                  <div class="col-lg-6 col-sm-6">
                    <label ngbTooltip="{{constantes.SISTEMA_RES_CONTRIBUYENTE_COMPLETO}}">
                      <strong>{{constantes.SISTEMA_RES_CONTRIBUYENTE}}</strong>
                    </label>
                    <input type="text" name="emResolucionContribuyenteEspecial" placeholder="{{constantes.TAG_OPCIONAL}}" [(ngModel)]="empresa.emResolucionContribuyenteEspecial"
                      class="form-control form-control-sm mousetrap text-uppercase" appUppercase>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <label>
                      <strong>{{constantes.SISTEMA_OBLIGADO_A_LLEVAR_CONTABILIDAD}}</strong>
                    </label>
                    <input type="text" name="emObligadoLlevarContabilidad" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="empresa.emObligadoLlevarContabilidad"
                      class="form-control form-control-sm mousetrap text-uppercase" required appUppercase>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="logo">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>