<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="text-center">
      <img src="assets/images/logo.png" alt="Image" width="300" class="img-rounded">
    </div>
    <div class="clearfix">
      <h1 class="float-left mr-3">
        <img src="assets/images/404.png" alt="Image" style="min-width: 100px; max-height: 250px" class="img-rounded">
      </h1>
      <div class="pt-5">
        <p class="h3 text-center">
          <br> Estamos trabajando en esta opción.
        </p>
        <p class="text-center">Página no encontrada o ruta incorrecta.</p>
      </div>
      <div class="center-block">
        <a (click)="back()" class="btn btn-pill btn-primary text-white" style="width: 120px;">
          <i class="fa fa-chevron-left"></i> Regresar</a>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>