<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <div class="text-center">
                <img src="assets/images/user.png" alt="Image" width="100" class="img-rounded">
              </div>
              <p class="text-muted"></p>
              <form (ngSubmit)="cambiarClave()" #formLogin="ngForm">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <input type="password" [(ngModel)]="usuario.nueva" name="nueva" placeholder="{{constantes.TAG_NUEVA_CONTRASENA}}"
                    class="form-control" required [ngClass]="{ 'has-error':usuario.nueva!=usuario.confirmar}">
                  <div class="invalid-feedback"> {{constantes.TAG_CAMPO_REQUERIDO}} </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-unlock-alt"></i>
                    </span>
                  </div>
                  <input type="password" [(ngModel)]="usuario.confirmar" name="confirmar" placeholder="{{constantes.TAG_CONFIRMAR_NUEVA_CONTRASENA}}"
                    class="form-control" required [ngClass]="{ 'has-error':usuario.nueva!=usuario.confirmar}">
                  <div class="invalid-feedback"> {{constantes.TAG_CAMPO_REQUERIDO}} </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary px-4" [disabled]="cargando">
                      {{constantes.TAG_CAMBIAR_CLAVE}}
                      <i *ngIf="cargando" class="fa fa-spinner fa-spin"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <img src="assets/images/ACOSUX.png" alt="Image" width="200" class="block-center img-rounded">
              <div>
                <h2>{{constantes.TAG_BIENVENIDO}}</h2>
                <p>{{constantes.TAG_GRACIAS_POR_SER_NUESTRO_CLIENTE}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>