<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <div class="card m-0 mb-2">
      <div class="card-header">
        <i class="{{constantes.ICON_FILTRAR}}"></i> <b>{{constantes.TITULO_FILTROS}}</b>
      </div>
      <div class="card-body pb-0 pt-1">
        <!--FORMULARIO EMPRESA-->
        <form #frm='ngForm' name="frm" autocomplete="off">
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select class="form-control form-control-sm" name="empresa" required [(ngModel)]="empresaSeleccionada"
              (ngModelChange)="cambiarEmpresaSeleccionada()" [disabled]="vistaFormulario">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas"> {{empresa.empNombre}}
                ({{empresa.empCodigo}})
              </option>
            </select>
          </div>
        </form>
      </div>

      <div class="card-footer text-muted">
        <div class="text-right">
          <button type="button" id="btnBuscarPeriodosUtilidad" class="btn btn-sm btn-primary  mr-1" (click)="buscarPeriodosUtilidad()"
            title="{{constantes.ATAJO_BUSCAR}}" [disabled]="vistaFormulario">
            <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i> {{constantes.LABEL_BUSCAR}}
          </button>
          <button type="button" id="btnNuevoPeriodosUtilidad" class="btn btn-sm btn-primary mr-1" (click)="frm?.form.valid ? operaciones(constantes.ACCION_CREAR) : null"
            title="{{constantes.ATAJO_NUEVO}}" [disabled]="vistaFormulario">
            <i class="{{constantes.ICON_NUEVO}}" aria-hidden="true"></i> {{constantes.LABEL_NUEVO}}</button>
        </div>
      </div>

    </div>
  </div>


  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}">
    <!--Formulario-->
    <fieldset *ngIf="vistaFormulario">
      <div class="card m-0">
        <div class="card-header p-1">
          <button id="btnActivarPeriodosUtilidad" class="btn btn-sm btn-primary mr-1" *ngIf="isScreamMd" (click)="activar=!activar"
            type="button" title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
            <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
          </button>
          <b>{{tituloForm}}</b>
          <div class="card-header-actions">
            <button *ngIf="accion === constantes.ACCION_CREAR" id="btnGuardarPeriodosUtilidad" type="button" (click)="insertarPeriodosUtilidad(frmPeriodosUtilidad)"
              class="btn btn-sm btn-primary mr-1" [disabled]="cargando" title="{{constantes.ATAJO_GUARDAR}}">
              <i class="{{constantes.ICON_GUARDAR}}"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_GUARDAR}}</span>
            </button>
            <button *ngIf="accion === constantes.ACCION_EDITAR" id="btnGuardarPeriodosUtilidad" type="button" (click)="actualizarPeriodosUtilidad(frmPeriodosUtilidad)"
              class="btn btn-sm btn-primary mr-1" [disabled]="cargando" title="{{constantes.ATAJO_GUARDAR}}">
              <i class="{{constantes.ICON_GUARDAR}}"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_GUARDAR}}</span>
            </button>
            <button (click)="cancelarAccion()" id="btnCancelarPeriodosUtilidad" type="button" class="btn btn-sm btn-default mr-1"
              [disabled]="cargando" title="{{constantes.ATAJO_CANCELAR}}">
              <i class="{{constantes.ICON_CANCELAR}}"></i>
              <span class="d-none d-md-inline"> {{constantes.LABEL_CANCELAR}}</span>
            </button>
          </div>
        </div>
        <div class="card-body pb-0 pt-1">
          <form #frmPeriodosUtilidad="ngForm" name="frmPeriodosUtilidad" autocomplete="off">
            <div class="row">
              <div class="form-group form-group-sm col-lg-6 col-md-6 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_DESCRIPCION}}</b>
                </label>
                <input [appFocus]="accion === constantes.ACCION_CREAR" class="form-control form-control-sm mousetrap text-uppercase"
                  name="detalle" maxlength="150" type="text" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="rhUtilidadesPeriodoTO.utiDescripcion"
                  appUppercase id="detalle" [disabled]="accion === constantes.ACCION_EDITAR" required>
              </div>
              <div class="form-group form-group-sm col-lg-3 col-md-3 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_FECHA_DESDE}}</b>
                </label>
                <p-calendar [appFocus]="accion === constantes.ACCION_EDITAR" inputId="iniFecha" name="iniFecha" id="fechaDesde"
                  [(ngModel)]="fechaDesde" [maxDate]="fechaHasta" [appMaxDate]="fechaHasta" dateFormat="dd/mm/yy"
                  [locale]="es" [showIcon]="true" [required]="true"></p-calendar>
              </div>
              <div class="form-group form-group-sm col-lg-3 col-md-3 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_FECHA_HASTA}}</b>
                </label>
                <p-calendar inputId="finFecha" name="finFecha" [(ngModel)]="fechaHasta" [minDate]="fechaDesde"
                  [appMinDate]="fechaDesde" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true" [required]="true"></p-calendar>
              </div>
              <div class="form-group form-group-sm col-lg-3 col-md-3 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_FECHA_MAXIMO_PAGO}}</b>
                </label>
                <p-calendar inputId="fechaMaximaPago" name="fechaMaximaPago" [(ngModel)]="fechaMaximaPago" [minDate]="fechaDesde"
                  [appMinDate]="fechaDesde" dateFormat="dd/mm/yy" [locale]="es" [showIcon]="true" [required]="true"></p-calendar>
              </div>
              <div class="form-group form-group-sm col-lg-3 col-md-3 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_TOTAL_DIAS}}</b>
                </label>
                <input name="utiTotalDias" [(ngModel)]="rhUtilidadesPeriodoTO.utiTotalDias" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                  class="form-control input-sm text-right" maxlength="7" required pattern="{{constantes.PATTERN_NUMEROS}}"
                  (keypress)="soloNumeros($event)">
              </div>
              <div class="form-group form-group-sm col-lg-3 col-md-3 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_TOTAL_CARGAS}}</b>
                </label>
                <input name="utiTotalCargas" [(ngModel)]="rhUtilidadesPeriodoTO.utiTotalCargas" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                  class="form-control input-sm text-right" maxlength="7" required pattern="{{constantes.PATTERN_NUMEROS}}"
                  (keypress)="soloNumeros($event)">
              </div>
              <div class="form-group form-group-sm col-lg-3 col-md-3 col-sm-12">
                <label class="control-label">
                  <b>{{constantes.TAG_TOTAL_PAGAR}}</b>
                </label>
                <input name="utiTotalPagar" [(ngModel)]="rhUtilidadesPeriodoTO.utiTotalPagar" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                  [appMinNumber]="0" [appAutonumeric2]="rhUtilidadesPeriodoTO.utiTotalPagar" value="{{rhUtilidadesPeriodoTO.utiTotalPagar}}"
                  (updateValue)="rhUtilidadesPeriodoTO.utiTotalPagar = $event" class="form-control input-sm text-right"
                  maxlength="12" required pattern="{{constantes.PATTERN_NUMEROS}}" (keypress)="soloNumeros($event)">
              </div>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
    <!--listado-->
    <div class="card m-0" *ngIf="listaResultado?.length>0" [hidden]="vistaFormulario">
      <div class="card-header p-1">
        <button id="btnActivarPeriodosUtilidad" class="btn btn-sm btn-primary mr-1" *ngIf="!screamXS" (click)="activar=!activar"
          type="button" title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
          <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
        </button>
        <strong>{{constantes.RRHH_ARCHIVO_PERIODO_UTILIDAD_LISTADO}}</strong>
        <div class="card-header-actions">
          <div class="btn-group d-lg-none">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirPeriodosUtilidad" (click)="imprimirPeriodosUtilidad()"
              placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}"
              [disabled]="vistaFormulario">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarPeriodosUtilidad" (click)="exportarPeriodosUtilidad()"
              placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}"
              [disabled]="vistaFormulario">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group d-none d-lg-block">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirPeriodosUtilidad" (click)="imprimirPeriodosUtilidad()"
              placement="top" ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}"
              [disabled]="vistaFormulario">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i> {{constantes.LABEL_IMPRIMIR}}
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarPeriodosUtilidad" (click)="exportarPeriodosUtilidad()"
              placement="top" ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}"
              [disabled]="vistaFormulario">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i> {{constantes.LABEL_EXPORTAR}}
            </button>
          </div>
        </div>

      </div>

      <div class="card-body" style="padding: 0 0 0 0">
        <div class="row">
          <div class="col-sm-5 col-md-6">
            <div class="input-group p-1">
              <input type="text" class="form-control form-control-sm input-filter" size="100" style="font-family: Arial, FontAwesome;"
                placeholder="&#xf0b0; {{constantes.TAG_FILTRAR}}..." size="100" (input)="gridApi?gridApi.setQuickFilter($event.target.value):null">
              <div class="input-group-append">
                <span class="input-group-text"><i class="{{constantes.ICON_BUSCAR}}"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-6">
            <div class="float-right pr-1">
              <p-multiSelect [options]="columnDefs" [(ngModel)]="columnDefsSelected" optionLabel="headerName"
                maxSelectedLabels="1" selectedItemsLabel="{0} {{constantes.MSJ_COLUMNAS}}" defaultLabel="{{constantes.TAG_SELECCIONE}}"></p-multiSelect>
            </div>
          </div>
        </div>

        <ag-grid-angular #agGrid id="agGrid" style="width: 100%; height: calc(100vh - 203px);" class="ag-theme-balham"
          [rowData]="listaResultado" [columnDefs]="columnDefsSelected" [enableSorting]="true" [multiSortKey]="multiSortKey"
          [rowSelection]="rowSelection" [enableColResize]="true" [components]="components" [context]="context"
          [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)" (contextmenu)="$event.preventDefault()"
          (cellContextMenu)="mostrarContextMenu($event.data, $event.event)" (rowSelected)="objetoSeleccionado = $event.node.data"
          (cellFocused)="filaFocused($event)" (filterChanged)="actualizarFilas()" (gridColumnsChanged)="redimencionarColumnas()"
          (gridSizeChanged)="redimencionarColumnas()">
        </ag-grid-angular>
        <p-contextMenu #menuOpciones [model]="opciones" appendTo='body'></p-contextMenu>

      </div>
    </div>
  </div>


  <div *ngIf="cargando">
    <app-cargando></app-cargando>
  </div>