<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <div class="card m-0 mb-2">
      <div class="card-header">
        <i class=" {{classTitulo}}"></i>
        <b>{{frmTitulo}}</b>
      </div>

      <div class="card-body pb-0 pt-1">
        <!--FORMULARIO EMPRESA-->
        <form #frmUbicacion='ngForm' name="frmUbicacion">
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select class="form-control form-control-sm mousetrap" name="empresa" required [(ngModel)]="empresaSeleccionada" (ngModelChange)="cambiarEmpresaSeleccionada()"
              [disabled]="accion">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas"> {{empresa.empNombre}} ({{empresa.empCodigo}})</option>
            </select>
          </div>
        </form>
        <!--FORMULARIO OPERACIONES-->
        <form #frmDatos='ngForm' autocomplete="off">
          <div *ngIf="accion && accion !== constantes.ACCION_ELIMINAR && accion !== constantes.ACCION_EDITAR_ESTADO">
            <div class="form-group form-group-sm has-feedback">
              <label class="control-label">
                <b>{{constantes.TAG_CODIGO}}</b>
              </label>
              <input [appFocus]="accion === constantes.ACCION_CREAR" name="codigo" #codigo="ngModel" [(ngModel)]="afUbicacionesTO.ubiCodigo"
                pattern="{{constantes.PATTERN_CODIGO}}" [disabled]="accion !== constantes.ACCION_CREAR" placeholder="{{constantes.TAG_OBLIGATORIO}}"
                class="form-control input-sm mousetrap text-uppercase" required maxlength="20" appUppercase>
              <span *ngIf="accion === constantes.ACCION_CREAR" class="fa fa-question-circle form-control-feedback" placement="right" ngbPopover="{{constantes.MSJ_INFOCODIGO}}"
                container="body"></span>
            </div>
            <div class="form-group form-group-sm">
              <label class="control-label">
                <b>{{constantes.TAG_DESCRIPCION}}</b>
              </label>
              <input [appFocus]="accion === constantes.ACCION_EDITAR" class="form-control form-control-sm mousetrap text-uppercase" name="detalle"
                maxlength="150" type="text" placeholder="{{constantes.TAG_OBLIGATORIO}}" [(ngModel)]="afUbicacionesTO.ubiDescripcion"
                id="detalle" required appUppercase>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer" *ngIf="!accion">
        <div class="text-right">
          <button type="button" id="btnBuscarUbicacion" class="btn btn-sm btn-primary mr-1" (click)="listarUbicaciones()">
            <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i> {{constantes.LABEL_BUSCAR}}
          </button>
          <button type="button" id="btnNuevoUbicacion" class="btn btn-sm btn-primary" (click)="operacionesUbicacion(constantes.ACCION_CREAR)">
            <i class="{{constantes.ICON_NUEVO}}" aria-hidden="true"></i> {{constantes.LABEL_NUEVO}}</button>
        </div>
      </div>

      <div class="card-footer" *ngIf="accion && accion !== constantes.ACCION_ELIMINAR  && accion !== constantes.ACCION_EDITAR_ESTADO">
        <div class="text-right">
          <button type="button" class="btn btn-sm btn-primary mr-1" id="btnGuardarUbicacion" (click)="insertarUbicacion(frmDatos)"
            *ngIf="accion === constantes.ACCION_CREAR">
            <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i> {{constantes.LABEL_GUARDAR}}</button>
          <button type="button" class="btn btn-sm btn-primary mr-1" id="btnGuardarUbicacion" (click)="actualizarUbicacion(frmDatos)"
            *ngIf="accion === constantes.ACCION_EDITAR">
            <i class="{{constantes.ICON_GUARDAR}}" aria-hidden="true"></i> {{constantes.LABEL_GUARDAR}}</button>
          <button type="button" class="btn btn-sm btn-default" id="btnCancelarUbicacion" (click)="resetearFormulario()">
            <i class="{{constantes.ICON_CANCELAR}}" aria-hidden="true"></i> {{constantes.LABEL_CANCELAR}}</button>
        </div>
      </div>

    </div>
  </div>

  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}">
    <div class="card m-0" *ngIf="listadoResultado?.length>0">

      <div class="card-header p-1">
        <button id="btnActivarUbicacion" class="btn btn-sm btn-primary mr-2" *ngIf="isScreamMd" (click)="activar=!activar" type="button"
          title="{{constantes.ATAJO_MOSTRAR_OCULTAR_FILTROS}}">
          <i class="{{activar?constantes.ICON_MOSTRAR_FILTRO:constantes.ICON_OCULTAR_FILTRO}}" aria-hidden="true"></i>
        </button>
        <strong>{{constantes.ACTIVO_FIJO_UBICACION_LISTADO}}</strong>

        <div class="card-header-actions">
          <div class="btn-group d-lg-none">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirUbicacion" (click)="imprimirUbicaciones()" placement="top"
              ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarUbicacion" (click)="exportarUbicaciones()" placement="top"
              ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group d-none d-lg-block">
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnImprimirUbicacion" (click)="imprimirUbicaciones()" placement="top"
              ngbTooltip="{{constantes.LABEL_IMPRIMIR}}" container="body" title="{{constantes.ATAJO_IMPRIMIR}}">
              <i class="{{constantes.ICON_IMPRIMIR}}" aria-hidden="true"></i> {{constantes.LABEL_IMPRIMIR}}
            </button>
            <button type="button" class="btn btn-sm btn-primary mr-1" id="btnExportarUbicacion" (click)="exportarUbicaciones()" placement="top"
              ngbTooltip="{{constantes.LABEL_EXPORTAR}}" container="body" title="{{constantes.ATAJO_EXPORTAR}}">
              <i class="{{constantes.ICON_EXPORTAR}}" aria-hidden="true"></i> {{constantes.LABEL_EXPORTAR}}
            </button>
          </div>
        </div>

      </div>

      <div class="card-body" style="padding: 0 0 0 0">
        <p-table #dt [appRowSelector]="indexTable" [appIndexLimit]="listadoFiltrado?.length" (updateIndex)="indexTable = $event"
          (updateFiltro)="filtrarGlobalmente(dt, true)" [columns]="columnasSeleccionadas" [value]="listadoResultado" [scrollable]="true"
          scrollHeight="calc(100vh - 245px)" [resizableColumns]="true" [responsive]="true" [(contextMenuSelection)]="objetoSeleccionado"
          [contextMenu]="men" selectionMode="single" [(selection)]="objetoSeleccionado" (onContextMenuSelect)="generarOpciones()"
          [metaKeySelection]="true" (onFilter)="onFilterTabla($event)">

          <ng-template pTemplate="caption">
            <div class="row">
              <div class="col-sm-5 col-md-6">
                <div class="input-group">
                  <input [(ngModel)]="filtroGlobal" type="text" class="form-control form-control-sm input-filter" style="font-family: Arial, FontAwesome"
                    placeholder="&#xf0b0; {{constantes.TAG_FILTRAR}}..." size="100" (keydown)="verificarFiltros($event,dt,'TECLAS')"
                    (blur)="verificarFiltros(null,dt,'BLUR')">
                  <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" (click)="verificarFiltros(null,dt,'CLICK')" type="button"> <i
                        class="{{constantes.ICON_BUSCAR}}"></i></button>
                  </div>
                </div>
              </div>
              <div class="col-sm-7 col-md-6">
                <div style="float:right">
                  <p-multiSelect [options]="columnas" [(ngModel)]="columnasSeleccionadas" maxSelectedLabels="1" optionLabel="header" selectedItemsLabel="{0} {{constantes.MSJ_COLUMNAS}}"
                    defaultLabel="{{constantes.TAG_SELECCIONE}}"></p-multiSelect>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="colgroup" let-columns *ngIf="isScreamMd">
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
              <col style="width:10%">
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
              <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th class="text-md-center text-sm-center">
                <i class="{{constantes.ICON_OPCIONES}}" placement="top" ngbTooltip="{{constantes.TAG_OPCIONES}}"></i>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
            <tr tabindex="{{index}}" [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (click)="indexTable = index" [ngClass]="{ 'table-condensed':true,'ui-state-highlight': indexTable === index}">
              <td *ngFor="let col of columns" class="ui-resizable-column ocultar-en-tabla">
                <span class="ui-column-title">{{col.header}}</span>
                <span>{{rowData[col.field]}}</span>
              </td>
              <!--OPCIONES-->
              <td class="text-md-center text-sm-center" style="width:10%">
                <span class="ui-column-title">{{constantes.TAG_OPCIONES}}</span>
                <button id="opciones_{{index}}" type="button" class="btn btn-primary btn-sm pb-0 pt-0" placement="top" ngbTooltip="{{constantes.TAG_OPCIONES}}"
                  container="body" (click)="objetoSeleccionado=rowData;generarOpciones();men.show($event);$event.stopPropagation()">
                  <i class="{{constantes.ICON_OPCIONES}}"></i>
                </button>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>
  </div>
  <p-contextMenu #men [model]="opciones" appendTo="body"></p-contextMenu>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>