<div class="row">
  <div [ngClass]="{'sr-only':activar}" class="col-lg-3 col-md-4 col-sm-5">
    <form #frmEmpleado='ngForm' name="frmEmpleado" class="card m-0 mb-2">
      <fieldset>
        <div class="card-header">
          <span>
            <i class="{{constantes.ICON_FILTRAR}}"></i>
            <b> {{constantes.TITULO_FILTROS}}</b>
          </span>
        </div>
        <div class="card-body pb-0 pt-1">
          <!--Empresa-->
          <div class="form-group form-group-sm">
            <label class="control-label">
              <b>{{constantes.TAG_EMPRESA}}</b>
            </label>
            <select [appFocus]="true" class="form-control form-control-sm mousetrap" name="empresa" required [(ngModel)]="empresaSeleccionada" (ngModelChange)="cambiarEmpresaSeleccionada()">
              <option selected disabled value="">{{constantes.TAG_SELECCIONE}}</option>
              <option [ngValue]="empresa" *ngFor="let empresa of listaEmpresas">{{empresa.empNombre}} ({{empresa.empCodigo}})
              </option>
            </select>
          </div>
          <div class="form-group form-group-sm has-feedback">
            <label class="control-label">
              <b>{{constantes.TAG_SECTOR}}</b>
              &nbsp;
              <a (click)="listarSectores()">
                <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_SECTORES}}" container="body"></span>
              </a>
            </label>
            <p-dropdown [options]="sectores" name="sector" [showClear]="true" [(ngModel)]="sectorSeleccionado" optionLabel="secNombre"
              (ngModelChange)="limpiarResultado()" placeholder="{{constantes.TAG_TODOS}}" class="mousetrap">
              <ng-template let-item pTemplate="selectedItem">
                {{sectorSeleccionado?.secNombre}} ({{sectorSeleccionado?.secCodigo}})
              </ng-template>
              <ng-template let-fs pTemplate="item">
                <div class="">{{fs.value.secNombre}} ({{fs.value.secCodigo}})</div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group form-group-sm has-feedback">
            <label class="control-label">
              <b>{{constantes.RRHH_CATEGORIAS}}</b>
              &nbsp;
              <a (click)="listarCategorias()">
                <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_CATEGORIAS}}" container="body"></span>
              </a>
            </label>
            <p-dropdown [options]="categorias" name="categoria" [showClear]="true" [(ngModel)]="categoriaSeleccionada" optionLabel="catNombre"
              (ngModelChange)="limpiarResultado()" placeholder="{{constantes.TAG_TODOS}}" class="mousetrap">
              <ng-template let-item pTemplate="selectedItem">
                {{categoriaSeleccionada?.catNombre}}
              </ng-template>
              <ng-template let-fs pTemplate="item">
                <div class="">{{fs.value.catNombre}}</div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group form-group-sm has-feedback">
            <label class="control-label">
              <b>{{constantes.TAG_PROVINCIA}}</b>
              &nbsp;
              <a (click)="listarProvincias()">
                <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_PROVINCIAS}}" container="body"></span>
              </a>
            </label>
            <p-dropdown [options]="provincias" name="provincia" [showClear]="true" [(ngModel)]="provinciaSeleccionada" optionLabel="nombre"
              (ngModelChange)="limpiarResultado();listarCantones();" placeholder="{{constantes.TAG_TODOS}}" class="mousetrap">
              <ng-template let-item pTemplate="selectedItem">
                {{provinciaSeleccionada?.nombre}} ({{provinciaSeleccionada?.codigo}})
              </ng-template>
              <ng-template let-fs pTemplate="item">
                <div class="">{{fs.value.nombre}} ({{fs.value.codigo}})</div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group form-group-sm has-feedback">
            <label class="control-label">
              <b>{{constantes.TAG_CANTON}}</b>
              &nbsp;
              <a (click)="listarCantones()" *ngIf="provinciaSeleccionada">
                <span class="{{constantes.ICON_REFRESCAR}}" placement="top" ngbTooltip="{{constantes.MSJ_RECARGAR_CANTONES}}" container="body"></span>
              </a>
            </label>
            <p-dropdown [options]="cantones" name="canton" [showClear]="true" [(ngModel)]="cantonSeleccionado" optionLabel="nombre" (ngModelChange)="limpiarResultado()"
              placeholder="{{constantes.TAG_TODOS}}" class="mousetrap" [disabled]="!provinciaSeleccionada">
              <ng-template let-item pTemplate="selectedItem">
                {{cantonSeleccionado?.nombre}} ({{cantonSeleccionado?.codigo}})
              </ng-template>
              <ng-template let-fs pTemplate="item">
                <div class="">{{fs.value.nombre}} ({{fs.value.codigo}})</div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div class="card-footer text-muted">
          <div class="text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary" (click)="listarEmpleado(false) " title="{{constantes.ATAJO_BUSCAR}}">
                <i class="{{constantes.ICON_BUSCAR}}" aria-hidden="true"></i> {{constantes.LABEL_BUSCAR}}</button>
              <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="listarEmpleado(true)">{{constantes.TAG_INCLUIR_INACTIVOS}}</a>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div [ngClass]="{'col-lg-9 col-md-8 col-sm-7':!activar,'col-lg-12 col-md-12 col-sm-12':activar}">
    <app-empleados-listado [parametrosBusqueda]="parametrosListado" [tipoVista]="tipoVista" [empresaSeleccionada]="empresaSeleccionada"
      (enviarActivar)="activar=!$event" (enviarAccion)="ejecutarAccion($event)"></app-empleados-listado>
  </div>
</div>
<div *ngIf="cargando">
  <app-cargando></app-cargando>
</div>